/*Badges images*/
li.badge.badge1-1 {
    background:url('../img/mobile/badges/1-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge1-2 {
    background:url('../img/mobile/badges/1-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge1-3 {
    background:url('../img/mobile/badges/1-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-1 {
    background:url('../img/mobile/badges/2-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-2 {
    background:url('../img/mobile/badges/2-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-3 {
    background:url('../img/mobile/badges/2-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-4 {
    background:url('../img/mobile/badges/2-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-5 {
    background:url('../img/mobile/badges/2-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-6 {
    background:url('../img/mobile/badges/2-6.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-7 {
    background:url('../img/mobile/badges/2-7.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-1 {
    background:url('../img/mobile/badges/3-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-2 {
    background:url('../img/mobile/badges/3-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-3 {
    background:url('../img/mobile/badges/3-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-4 {
    background:url('../img/mobile/badges/3-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-5 {
    background:url('../img/mobile/badges/3-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-6 {
    background:url('../img/mobile/badges/3-6.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-1 {
    background:url('../img/mobile/badges/4-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-2 {
    background:url('../img/mobile/badges/4-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-3 {
    background:url('../img/mobile/badges/4-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-4 {
    background:url('../img/mobile/badges/4-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-5 {
    background:url('../img/mobile/badges/4-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-6 {
    background:url('../img/mobile/badges/4-6.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge5-1 {
    background:url('../img/mobile/badges/5-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge5-2 {
    background:url('../img/mobile/badges/5-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge5-3 {
    background:url('../img/mobile/badges/5-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge5-4 {
    background:url('../img/mobile/badges/5-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge5-5 {
    background:url('../img/mobile/badges/5-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-1 {
    background:url('../img/mobile/badges/E-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-2 {
    background:url('../img/mobile/badges/E-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-3 {
    background:url('../img/mobile/badges/E-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-4 {
    background:url('../img/mobile/badges/E-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-5 {
    background:url('../img/mobile/badges/E-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-6 {
    background:url('../img/mobile/badges/E-6.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-7 {
    background:url('../img/mobile/badges/E-7.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-8 {
    background:url('../img/mobile/badges/E-8.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-9 {
    background:url('../img/mobile/badges/E-9.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-10 {
    background:url('../img/mobile/badges/E-10.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-11 {
    background:url('../img/mobile/badges/E-11.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-12 {
    background:url('../img/mobile/badges/E-12.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-13 {
    background:url('../img/mobile/badges/E-13.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-14 {
    background:url('../img/mobile/badges/E-14.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-15 {
    background:url('../img/mobile/badges/E-15.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-16 {
    background:url('../img/mobile/badges/E-16.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-17 {
    background:url('../img/mobile/badges/E-17.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-18 {
    background:url('../img/mobile/badges/E-18.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badgeE-19 {
    background:url('../img/mobile/badges/E-19.png') -0.192em -0.192em;
    background-size:80px auto;
}