/*Badges images*/
li.badge.badge1-1 {
    background:url('../img/mobile/badges/1-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge1-2 {
    background:url('../img/mobile/badges/1-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge1-3 {
    background:url('../img/mobile/badges/1-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-1 {
    background:url('../img/mobile/badges/2-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-2 {
    background:url('../img/mobile/badges/2-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-3 {
    background:url('../img/mobile/badges/2-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-4 {
    background:url('../img/mobile/badges/2-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-5 {
    background:url('../img/mobile/badges/2-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-6 {
    background:url('../img/mobile/badges/2-6.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge2-7 {
    background:url('../img/mobile/badges/2-7.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-1 {
    background:url('../img/mobile/badges/3-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-2 {
    background:url('../img/mobile/badges/3-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-3 {
    background:url('../img/mobile/badges/3-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-4 {
    background:url('../img/mobile/badges/3-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-5 {
    background:url('../img/mobile/badges/3-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge3-6 {
    background:url('../img/mobile/badges/3-6.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-1 {
    background:url('../img/mobile/badges/4-1.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-2 {
    background:url('../img/mobile/badges/4-2.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-3 {
    background:url('../img/mobile/badges/4-3.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-4 {
    background:url('../img/mobile/badges/4-4.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-5 {
    background:url('../img/mobile/badges/4-5.png') -0.192em -0.192em;
    background-size:80px auto;
}

li.badge.badge4-6 {
    background:url('../img/mobile/badges/4-6.png') -0.192em -0.192em;
    background-size:80px auto;
}