/* Spark! by Mozilla */

/*
YUI CSS reset
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

/*
YUI CSS font
*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small;}select,input,button,textarea{font:99% arial,helvetica,clean,sans-serif;}table{font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

/* Font-face */

@font-face {
    font-family: 'MgOpenModerna';
    src:          url('../fonts/mgopenmodernaregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MgOpenModerna';
    src:          url('../fonts/mgopenmodernabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

/*Common rules*/

html {
    background:#110f10;
}

html.openmenu, html.openmenu body {
    height:500px;
    overflow:hidden;
}

body {
    font-family:'Helvetica Neue', Helvetica, 'MgOpenModerna', Arial, sans-serif;
    color:#fff;
    background:url('../img/mobile/bg.png') repeat top right;
}

#content {
    overflow:auto;
    padding-bottom:50px;
}

#wrapper {
    max-width:50em;
    padding:0 16px 0 16px;
    margin:0 auto;
    z-index:2;
    position:relative;
    overflow:auto;
}

#flame-bg {
    position:absolute;
    top:50px;
    right:0;
    width:258px;
    height:181.33px;
    z-index:1;
}

#login #flame-bg, #getstarted #flame-bg, #whatisspark #flame-bg {
    top:0px;
}

#header {
    padding-top:12px;
    border-bottom:3px solid #ffd40d;
}

h1 {
    font-weight:bold;
    padding:16px 8px;
    font-size:2.26em;
}

a {
    color:inherit;
    text-decoration:none;
}

p {
    color:#b2b2b2;
    font-family:"Warnock Pro", Palatino, "Times New Roman", serif;
    font-size:1.005em;
    line-height:1.538em;
}

p a {
    color:#fcd522;
}

p.legend {
    font-style:italic;
}

p.section {
    font-size:1.005em;    
}

p.sans {
    font-family:'Helvetica Neue', Helvetica, 'MgOpenModerna', Arial, sans-serif;
}

p.confirmation {
    color:#fff;
    font-size:1.13em;
    font-weight:bold;
}

h2 {
    color:#fff;
    font-size:1.13em;
    font-weight:bold;
    line-height:1.538em;
}

hr {
    height:1px;
    background:#404040;
    border:none;
    margin:0;
    padding:0;
}

div.back {
    display:block;
    width:42px;
    height:42px;
    margin-left:6px;
    background:url('../img/mobile/back480.png') no-repeat 0 0;
    background-size:100%;
}

div.back:active {
    background-position:-0px -42px;
}

.section {
    padding:18px 8px;    
}

.section:first-child {
    border-top:0px;    
}

button, div.button {
    font-family:'Helvetica Neue', Helvetica, 'MgOpenModerna', Arial, sans-serif;
    width:48%;
    display:block;
    float:left;
    text-align:left;
    font-weight:bold;
    border:0;
    border-radius:0;
    font-size:1.13em;
    color:#000;
}

button {
    padding-left:20px;
    height:49px;
}

div.button {
    height:48px;
}

div.button a {
    padding-left:20px;
    display:block;
    line-height:50px;
}

.left-button, .button.left-button {
    margin:20px 2% 20px 0px;
    border-top:1px solid #e7e7e7;
    background:-moz-linear-gradient(90deg, #c5c5c5, #acacac);
    background:-webkit-gradient(linear,center top, center bottom, from(#c5c5c5), to(#acacac));
}

.right-button, .button.right-button {
    margin:20px 0px 20px 2%;
    border-top:1px solid #ffe87d;
    background:-moz-linear-gradient(90deg, #ffd825, #e5bf0c);
    background:-webkit-gradient(linear,center top, center bottom, from(#ffd825), to(#e5bf0c));
}

.left-button:active, .left-button:focus {
    border-top:1px solid #eee;
    background:-moz-linear-gradient(90deg, #e2e2e2, #d6d6d6);
    background:-webkit-gradient(linear,center top, center bottom, from(#e2e2e2), to(#d6d6d6));
}

.right-button:active, .right-button:focus {
    border-top:1px solid #ffe87d;
    background:-moz-linear-gradient(90deg, #ffea87, #f1dc7a);
    background:-webkit-gradient(linear,center top, center bottom, from(#ffea87), to(#f1dc7a));
}

a.button {
    display:block;
    border-top:1px solid #ffe670;
    background:-moz-linear-gradient(90deg, #ffdd2f, #ffd908);
    background:-webkit-gradient(linear, center top, center bottom, from(#ffdd2f), to(#ffd908));
    line-height:48px;
    color:#000;
    font-size:1.13em;
    font-weight:bold;
    padding-left:12px;
    margin-bottom:18px;
}

#badges a.button {
    margin-bottom:0;
}

a.button:active {
    border-top:1px solid #feed9b;
    background:#fee779;
    color:#000;
}

a:active button, a:focus button {
    text-decoration:none;
    outline:0;
    border:0;
}

img.spinner {
    margin-top:7px;
    margin-left:9px;
}

img.preload {
    display:none;
}

p.license {
    color:#808080;
    font-size:0.878em;
    margin-top:18px;
}

#menu-wrapper {
	height: 53px;
	clear:both;
	box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
	-o-box-shadow:0px 1px 3px rgba(0,0,0,0.4);
    position:relative;
    overflow:visible;
    pointer-events:none;
    z-index:4;
    margin-bottom:30px;
}

#myspark #menu-wrapper {
    margin-bottom:0;
}

#menu-wrapper.closed {
    overflow:hidden;
    pointer-events:none;
}

#menu {
    pointer-events:auto;
    height:500px;
    width:100%;
    z-index:10;
    position:absolute;
    background:url('../img/mobile/badge-label-bg.png') repeat;
}

#menu.closed {
    top:0;
}

#menu-header {
    height:49px;
    border-top:1px solid #ffe87d;
    background:url('../img/mobile/menu-button-hd.png') no-repeat 14px -99px, -moz-linear-gradient(90deg, #ffd825, #e5bf0c);
    background:url('../img/mobile/menu-button-hd.png') no-repeat 14px -99px, -webkit-gradient(linear, center top, center bottom, from(#ffd825), to(#e5bf0c));
    background-size:28px auto, auto;
    color:#000;
    font-weight:bold;
    line-height:49px;
    padding-left:53px;
    font-size:1.13em;
    box-shadow:0px 1px 2px rgba(0,0,0,0.5), 0px 2px 4px rgba(0,0,0,0.3);
    pointer-events:auto;
}

#menu.open #menu-header:active {
    background:url('../img/mobile/menu-button-hd.png') no-repeat 14px -155px, -moz-linear-gradient(90deg, #ffec92, #f2df86);
    background:url('../img/mobile/menu-button-hd.png') no-repeat 14px -155px, -webkit-gradient(linear, center top, center bottom, from(#ffec92), to(#f2df86));
    background-size:28px auto, auto;
    border-top:1px solid #fff4be;
}

#menu.closed #menu-header {
    background:url('../img/mobile/menu-button-hd.png')  no-repeat 14px 9px, -moz-linear-gradient(90deg, #ffd825, #e5bf0c);
    background:url('../img/mobile/menu-button-hd.png')  no-repeat 14px 9px, -webkit-gradient(linear, center top, center bottom, from(#ffd825), to(#e5bf0c));
    background-size:28px auto, auto;
}

#menu.closed #menu-header:active {
    background:url('../img/mobile/menu-button-hd.png')  no-repeat 14px -50px, -moz-linear-gradient(90deg, #ffec92, #f2df86);
    background:url('../img/mobile/menu-button-hd.png')  no-repeat 14px -50px, -webkit-gradient(linear, center top, center bottom, from(#ffec92), to(#f2df86));
    background-size:28px auto, auto;
    border-top:1px solid #fff4be;
}

#menu-hr {
    height:3px;
    background:#dfdfdf;
    box-shadow:inset 0 1px 1px #888888;
    -webkit-box-shadow:inset 0 1px 1px #888888;
}

#menu ul {
    margin:16px;
}

#menu ul li {
    border-bottom:1px solid #4d4d4d;
}

#menu ul li:first-child {
    border-top:1px solid #4d4d4d;
}

#menu ul li a {
    display:block;
    padding:0 8px;
    margin:2px 0;
    line-height:64px;
    font-size:1.13em;
    font-weight:bold;
    background:url('../img/mobile/big-arrow.png') no-repeat right center;
    background-size:auto 30px;
}

#menu ul li a:active {
    background-color:rgba(255,255,255,0.16);
}

#menu ul li span {
    color:#b2b2b2;
    padding-left:0.5em;
}

#logout {
    display:block;
    text-align:center;
    color:#b2b2b2;
    font-size:1.13em;
    line-height:45px;
}

#logout:active {
    color:#fff;
}

#notifications {
    border-left: 1px solid #d5b31b;
    float: right;
    line-height: 37px;
    margin-top: 5px;
    padding: 0 26px 0 16px;
    position:relative;
    background:url('../img/mobile/notifications-bg.png') no-repeat 39px  center;
    background-size:auto 16px;
}

#notifications:before {
    content:'';
    border-left: 1px solid #f9da4c;
    height:100%;
    left:0px;
    top:0;
    position:absolute;
}

span.error, ul.errorlist li {
    color:#e32113;
    display:block;
    padding:0px 8px 8px 8px;
    font-weight:bold;
}

#logout-confirmation {
    padding:8px 16px;
    display:none;
}

#menu p.confirmation {
    margin-top:12px;
    margin-bottom:-10px;
}

/* Get started */

div.input-wrapper {
    border:1px solid #e9e9e9;
    background:-moz-linear-gradient(90deg, #e7e7e7, #fefefe);
    background:-webkit-gradient(linear,center top, center bottom, from(#e7e7e7), to(#fefefe));
    margin-top:8px;
    box-shadow:inset 0px 1px 0px #979797, inset 0px 2px 0px #c4c4c4, inset 0px 3px 0px #e3e3e3;
}

div.input-wrapper.error {
    background:-moz-linear-gradient(90deg, #d4b6ad, #eccec5);
    background:-webkit-gradient(linear,center top, center bottom, from(#d4b6ad), to(#eccec5));
    box-shadow:inset 0px 1px 0px #8d7973, inset 0px 2px 0px #b0968f, inset 0px 3px 0px #c8aca4;
}

div.input-wrapper:first-child {
    margin-top:0;
}

fieldset#account.section, fieldset#identifier.section {
    padding-left:0;
    padding-right:0;
}

form input[type=text], input[type=email], input[type=password] {
    display:block;
    border-radius:0px;
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    width:97%;
    color:#666;
    font-size:1.005em;
    background:transparent;
    border:0;
    height:38px;
    padding-left:15px;
}

form.section {
    padding-left:0;
    padding-right:0;
}

#newsletter, #from-website {
    padding:0px 8px;
}

.checkbox {
    width: 24px;
    height: 24px;
    padding: 0 15px 0 0;
    background: url('../img/mobile/checkbox.png') no-repeat;
    display: block;
    clear: left;
    float: left;
    background-size:24px auto;
    position:relative;
    top:0px;
}

#newsletter label, #from-website label {
    font-style:normal;
    line-height:150%;
    display:block;
    margin:15px 0;
}

#boost label {
    width:235px;
}

button:active, button:focus {
    border:0;
    outline:0;
}

.cta a {
    font-size:1.13em;
    font-weight:bold;
    display:block;
    margin:2px 0;
    line-height:4.959em;
    padding:0 0 0 8px;
    background:url('../img/mobile/big-arrow.png') no-repeat center right;
    background-size:auto 30px;
}

.cta a:active {
    background-color:rgba(255,255,255,0.16);
}

.cta a:focus, .cta a:active {
    outline:none;
    border:none;
    text-decoration:none;
}

/* Boost your Spark */

#boost p {
    font-style:normal;
}

#boost .section:nth-child(2) {
    margin-bottom:20px;
}

#location-result {
    padding:20px 0;
    border-top:1px solid #404040;
    border-bottom:1px solid #404040;
}

#boost2-result {
    padding:20px 0;
    border-bottom:1px solid #404040;
}

#checkmark {
    height:50px;
    background:url('../img/mobile/checkmark.png') no-repeat 15px center rgba(119,225,24,0.5);
    margin-bottom:20px;
    background-size:22px auto;
}

#your-location {
    font-size:1.005em;
    font-weight:bold;
    color:#b2b2b2;
}

#your-location span {
    display:block;
    font-size:125%;
    color:#fff;
}

#boost2-result span {
    font-size:1.005em;
    font-weight:bold;
    color:#fff;
}

#boost .cta a {
    line-height:1.6em;
    padding:1.2em 2em 1.2em 8px;
}

.cta.twolines a {
    line-height:1.6em;
    padding:1.2em 2em 1.2em 8px;
}

#boost p.disclaimer {
    font-size:0.9em;
    margin-top:10px;
    padding-left:12px;
    margin-bottom:-10px;
}

/*Badges*/

ul#badge-list {
    overflow:auto;
}

li.badge {
    float:left;
    height:76px;
    width:76px;
    border:2px solid #989898;
    border-radius:50%;
    -webkit-border-radius:40px;
    margin-bottom:5.55%;
}

li.badge:active, li.badge.current {
    border:2px solid #fff;
}

#badge-label {
    clear:both;
    border-top:1px solid #ffe56e;
    margin-bottom:1em;
    position:relative;
}

#badge-label div {
    background:#ffd40d;
    padding:1px 2px;
    margin-bottom:5px;
}

#badge-label div div {
    background:#000;
    padding:1px;
    border-bottom:1px solid #ffe56e;
    margin-bottom:0;
}

#badge-label div div div {
    background:url('../img/mobile/badge-label-bg.png') repeat;
    padding:0.993em 1.13em;
    border-bottom:0;
    margin-bottom:0;
}

#badge-label .button-wrapper {
    padding:0;
}

#badge-label button {
    width:100%;
    border-top:1px solid #ffe87d;
    background:-moz-linear-gradient(90deg, #ffd825, #e5bf0c);
    background:-webkit-gradient(linear, center top, center bottom, from(#ffd825), to(#e5bf0c));
}

#badge-label button:active {
    background:-moz-linear-gradient(90deg, #ffec92, #f2df86);
}

#badge-label h2 {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
}

#badge-label p {
    color:#999;
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
}

#badge-label img {
    position:absolute;
    top:-11px;
    left:50%;
    margin-left:-12px;
}

/* What is Spark */

#whatisspark .section {
    position:relative;
}

#whatisspark .arrow {
    position:absolute;
    left:50%;
    margin-left:-10px;
    top:-4px;
    height:8px;
    width:21px;
    background:url('../img/mobile/down-arrow.png') no-repeat center center;
    background-size:20px auto;
}

/* Log in */

.clear {
    clear:both;
}

/* My Spark */

#myspark #header {
    margin-top:20px;
    border-top:3px solid #ffd40d;
    border-bottom:0px;
    padding-top:0px;
}

#myspark #header h1 {
    padding-top:10px;
}

#myspark #content {
    overflow:visible;
}

/* Home */

#home #header, #user-share #header {
    margin-top:20px;
    border-top:3px solid #ffd40d;
    border-bottom:0px;
    padding-top:0px;
}

#home #header h1, #user-share #header h1 {
    padding-top:10px;
}

body#home {
    background:url('../img/mobile/spark.jpg') no-repeat center 0;
    background-size:320px auto;
    min-height:400px;
}

#home #header {
    margin-bottom:200px;   
}

#home .left-button, #user-share .left-button {
    border-top:1px solid #ffe87d;
    background:-moz-linear-gradient(90deg, #ffd825, #e5bf0c);
    background:-webkit-gradient(linear,center top, center bottom, from(#ffd825), to(#e5bf0c));
}

#home .left-button:active, #home .left-button:focus, #user-share .left-button:active, #user-share .left-button:focus {
    border-top:1px solid #ffe87d;
    background:-moz-linear-gradient(90deg, #ffea87, #f1dc7a);
    background:-webkit-gradient(linear,center top, center bottom, from(#ffea87), to(#f1dc7a));
}

/* Share your Spark */

#qr {
    height:138px;
    width:138px;
    margin:24px auto;
    display:block;
}

/* Share with a link */

#sharing li {
    border-bottom:1px solid #404040;
    color:#fff;
    font-weight:bold;
    font-size:1.13em;
}

#sharing li:first-child {
    border-top:1px solid #404040;
}

#sharing .cta a {
    padding-left:60px;
}

#sharing .cta:nth-child(1) {
    background:url('../img/mobile/share-icons.png') no-repeat 0 24px;
    background-size:48px auto;
}

#sharing .cta:nth-child(2) {
    background:url('../img/mobile/share-icons.png') no-repeat 0 -83px;
    background-size:48px auto;
}

#sharing .cta:nth-child(3) {
    background:url('../img/mobile/share-icons.png') no-repeat 0 -183px;
    background-size:48px auto;
}

/*Challenges*/

#challenges-list li {
    border-bottom:3px solid #ffd40d;
    font-size:1.507em;
    font-weight:bold;
    line-height:2.875em;
    color:#fff;
}

#challenges-list li:first-child {
    border-top:0px;
}

div.level {
    padding:0px 8px;
}

span.challenges-count {
    float:right;
    color:#999;
}

span.challenges-count.complete {
    color:#ffd40d;
}

span.challenges-count.complete span {
    color:inherit;
}

span.challenges-count span {
    color:#fff;
}

.level.locked {
    color:#808080;
}

.level.locked .challenges-count {
    display:none;
}

div.lock {
    display:none;
}

.level.locked div.lock {
    display:block;
    width:33px;
    height:33px;
    float:right;
    background:url('../img/mobile/lock.png') no-repeat 0 0;
    background-size:100%;
    margin-top:13px;
}

li.open div.level {
    border-bottom:1px solid #403c3c;
}

div.level:hover {
    cursor:pointer;
}

#challenges-list .level-details {
    display:none;
}

#challenges-list .level-details li {
    margin-top:0;
    font-size:75%;
    line-height:3.278em;
    border-top:0px;
    border-bottom:1px solid #403c3c;
    font-weight:normal;
    padding:2px 0;
}

div.challenge {
    padding:0px 6px;
}

div.challenge:active {
    background:rgba(255,255,255,0.16);
}

div.challenge span.title {
    font-weight:bold;
}

div.challenge p {
    color:#999;
    margin:-12px 0 0 0;
    display:none;
    font-size:88.88%;
    padding:0 0 12px 34px;
}

div.challenge .check {
    float:left;
    height:24px;
    width:24px;
    background:url('../img/mobile/checkbox.png') no-repeat 0px 0px;
    margin:12px 10px 0 0;
    background-size:24px auto;
}

div.challenge.complete .check {
    background:url('../img/mobile/checkbox.png') no-repeat 0px -27px;
    background-size:26px auto;
}

/*User-share*/

#user-share {
    background:url('../img/mobile/spark.png') no-repeat center 45px;
    background-size:320px auto;
}

#user-share #header h2 {
    font-weight:bold;
    color:#ffda0e;
    padding-left:8px;
    margin-top:-1.2em;
}

#user-share .section span {
    color:#fff;
}

#remember {
    color:#df731b;
    padding-left:8px;
    display:block;
    max-width:70%;
}

#remember span {
    font-weight:bold;
}

body#user-share {
    background:url('../img/mobile/spark.jpg') no-repeat center 40px;
    background-size:320px auto;
    min-height:400px;
}

#static-spark {
    height:200px;
}

.logged-in #static-spark {
    height:230px;
}

/*Stats*/

#stats-list {
    font-weight:bold;
}

#stats-list li {
    border-bottom:1px solid #404040;
    padding:18px 9px;
    font-size:2.26em;
}

#stats-list li:first-child {
    border-top:1px solid #404040;
}

#stats-list li span {
    display:block;
    color:#ffd40d;
    font-size:0.445em;
}

/*non-ff*/
.non-ff h2, .ff h2 {
    font-size:2.26em;
    color:#ffd40d;
}

.non-ff h2.first, .ff h2.first {
    font-size:inherit;
    color:inherit;
}

.non-ff h3, .ff h3 {
    font-size:1.13em;
    font-weight:bold;
}

.non-ff p, .ff p {
    line-height:150%;
    padding-bottom:18px;
}

.legal-links a {
    display:block;
    border-top:1px solid #404040;
    font-size:1.13em;
    font-weight:bold;
    color:#ffd40d;
    line-height:48px;
}

.legal-links a.last {
    border-bottom:1px solid #404040;
}

.getfirefox {
    margin-top:20px;
}

/*Choose your city*/

#city-list li {
    border-bottom:1px solid #404040;
    font-size:1.13em;
    font-weight:bold;
    line-height:2.875em;
    color:#fff;
}

#city-list li:first-child {
    border-top:1px solid #404040;
}

#city-list li span {
    margin:2px 0;
    padding-left:8px;
    display:block;
}

#city-list li span:active {
    background-color:rgba(255,255,255,0.16);
}

/*Error pages*/

#error-page {
    position:relative;
    z-index:10000;
}

#js-warning {
    width:100%;
    background:#dd322a;
    text-align:center;
    padding:10px 0;
    position:relative;
    z-index:10000;
}

#js-warning span {
    width:80%;
    display:block;
    margin:0 auto;
}