a.button {
    display:block;
    border-top:1px solid #ffe670;
    background:-moz-linear-gradient(90deg, #ffdd2f, #ffd908);
    background:-webkit-gradient(linear, center top, center bottom, from(#ffdd2f), to(#ffd908));
    line-height:48px;
    color:#000;
    font-size:1.13em;
    font-weight:bold;
    padding-left:12px;
    margin-bottom:18px;
}

a.button:active {
    border-top:1px solid #feed9b;
    background:#fee779;
    color:#000;
}

.non-ff h2 {
    font-size:2.26em;
    color:#ffd40d;
}

.non-ff h3 {
    font-size:1.13em;
    font-weight:bold;
}

.non-ff p {
    line-height:150%;
    padding-bottom:18px;
}

#non-ff-links a {
    display:block;
    border-top:1px solid #404040;
    font-size:1.13em;
    font-weight:bold;
    color:#ffd40d;
    line-height:48px;
}

#non-ff-links a.last {
    border-bottom:1px solid #404040;
}

p.license {
    color:#808080;
    font-size:0.878em;
    margin-top:18px;
}