<div id="popup">
    <div id="sign-in">
        <h3>{{ _('Sign in') }}</h3>
            <p class="legend">{{ _('Welcome back! Ready to keep your Spark going strong? Just fill your details in below.') }}</p>
            <hr>
            <form id="login" action="{{ url('users.login')|secure_url }}" method="post" accept-charset="utf-8">
                {{ csrf() }}
                {% if login_next_url %}
                <input type="hidden" name="next" value="{{ login_next_url }}">
                {% endif %}
                <fieldset class="section">
                    <div id="login-username" class="input-wrapper">
                        <input tabindex="1" type="text" name="username" value="" placeholder="{{ _('Username') }}" required>
                    </div>
                    <div id="login-password" class="input-wrapper">
                        <input tabindex="2" type="password" name="password" value="" placeholder="{{ _('Password') }}" required>
                    </div>
                </fieldset>
            <div class="buttons-wrapper">
                <a class="button left-button close">{{ _('Cancel') }}</a>
                <button tabindex="3" class="right-button" type="submit"><span>{{ _('Sign in') }}</span><img src="{{ MEDIA_URL }}img/spinner.gif" alt="" class="preload spinner"></button>
            </div>
        </form>
        <a id="forgot-password">{{ _('Forgot username or password? >') }}</a>
        <p class="download">
            {% trans download_url='#download' if is_homepage else '%s%s' % (url('desktop.home'), '#download') %}
            Don't have Spark yet? <a href="{{ download_url }}">Download</a> Firefox on your Android to get started.
            {% endtrans %}
        </p>
    </div>
    <div id="password-recovery">
        <h3>{{ _('Forgot my info') }}</h3>
        <p class="legend">
            {% trans %}
            Enter the email you used to create your 
            account and we'll remind you of your 
            username and password.
            {% endtrans %}
        </p>
        <hr>
        <form id="recover" action="{{ url('users.forgot_password')|secure_url }}" method="post" accept-charset="utf-8">
            {{ csrf() }}
            <fieldset id="account" class="section">
                <div class="input-wrapper" id="recover-email">
                    <input tabindex="1" type="email" name="email" value="" placeholder="{{ _('Email address') }}">
                </div>
            </fieldset>
            <hr>
            <div class="buttons-wrapper">
                {# L10n: Space is limited here, the translation should be no longer than ~15 latin characters #}
                <a class="button left-button">{{ _('Start over') }}</a>
                <button tabindex="2" class="right-button" type="submit">{{ _('Send') }}</button>
            </div>
        </form>
    </div>
    <div id="success">
        <h3>{{ _('Success!') }}</h3>
        <p class="legend">
            {% trans %}
            Your account details have been sent to your 
            email address. Please wait a few moments for 
            it to arrive, then follow the instructions to sign 
            back in.
            {% endtrans %}
        </p>
        <hr>
        <a class="button close">{{ _('OK') }}</a>
    </div>
    {% if is_pwreset %}
    {% include "desktop/popups/pwreset.html" %}
    {% endif %}
</div>