<div id="password-confirm">
    {% set popuptitle = _('Password reset') if validlink else _('Password reset unsuccessful') %}

    {% if validlink %}
    <h3>{{ popuptitle }}</h3>
        <p class="legend">{{ _('Enter your new password below.') }}</p>
        <hr>
        <form id="pwreset" action="{{ url('users.pw_reset_confirm', uidb36, token)|secure_url }}" method="post" accept-charset="utf-8">
            {{ csrf() }}
            <fieldset class="section">
                <div id="pwreset-new_password1" class="input-wrapper">
                    <input tabindex="1" type="password" name="new_password1" value="" placeholder="{{ _('New password') }}" required>
                </div>
                <div id="pwreset-new_password2" class="input-wrapper">
                    <input tabindex="2" type="password" name="new_password2" value="" placeholder="{{ _('Confirm password') }}" required>
                </div>
            </fieldset>
        <div class="buttons-wrapper">
            <a class="button left-button">{{ _('Cancel') }}</a>
            {# L10n: Action verb on a form submit button. #}
            <button tabindex="3" class="right-button" type="submit">{{ _('Update') }}</button>
        </div>
    </form>

    {% else %}
    <h3>{{ popuptitle }}</h3>
    <p class="section legend">
    {{ _('The password reset link was invalid, possibly because it has already been used.') }}
    </p>
    <a class="button close">{{ _('OK') }}</a>
    {% endif %}
</div>

<div id="password-complete">
    {% set popuptitle = _('Password successfully reset') %}

    <h3>{{ popuptitle }}</h3>
	<p class="section legend">
		{{ _('You can now sign in.') }}
	</p>
    <a class="button close">{{ _('Sign in') }}</a>
</div>