<div id="video-player">
    <div>
        <video
            id="video"
            width="640"
            height="360"
            controls="controls"
            poster="{{ MEDIA_URL }}img/video-ph.jpg"
            autoplay>

            <source src="http://videos-cdn.mozilla.net/serv/marketing/firefox4/Mobile-launch-greatday640.webm" type="video/webm" />

            <source src="http://videos-cdn.mozilla.net/serv/marketing/firefox4/Mobile-launch-greatday640.theora.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;" />

            <source src="http://videos-cdn.mozilla.net/serv/marketing/firefox4/Mobile-launch-greatday640.mp4" type="video/mp4" />

            <object type="application/x-shockwave-flash"
                style="width: 640px; height: 388px;"
                data="{{ MEDIA_URL}}video/playerWithControls.swf?flv=serv/marketing/firefox4/Mobile-launch-greatday640.mp4&amp;autoplay=false&amp;msg=Play%20Video">

                <param name="movie" value="{{ MEDIA_URL}}video/playerWithControls.swf?flv=serv/marketing/firefox4/Mobile-launch-greatday640.mp4&amp;autoplay=false&amp;msg=Play%20Video" />
                <param name="wmode" value="transparent" />

                <div class="video-player-no-flash">
                <p>
            	    This video requires a browser with support for open video:
                </p>
            	<ul>
            	<li><a href="http://www.mozilla.com/firefox/">Firefox</a> 3.5 or greater</li>

            	<li><a href="http://www.apple.com/safari/">Safari</a> 3.1 or greater</li>
            	</ul>
            	or the <a href="http://www.adobe.com/go/getflashplayer">Adobe Flash Player</a>.
            	</div>

            </object>

        </video>
        <img src="{{ MEDIA_URL }}img/close-icon.png" alt="">
    </div>
</div>
<img src="{{ MEDIA_URL }}img/close-icon.png" alt="" class="preload">
<img src="{{ MEDIA_URL }}img/video-ph.jpg" alt="" class="preload">