<div id="{{ section_id }}" class="section">
    {% if not hide_backtotop %}
    <div class="back-to-top">
        <div class="left-line"></div>
        <div class="copy">
            <div class="arrow"></div>
            <a href="#masthead">{{ _('back to top') }}</a>
            <div class="arrow"></div>
        </div>
        <div class="right-line"></div>
    </div>
    <div class="clearfix"></div>
    {% endif %}
    <div class="column left-column">
	    {% block leftcolumn %}{% endblock %}
	</div>
    {% if three_columns %}
    	<div class="column middle-column">
    	    {% block middlecolumn %}{% endblock %}
    	</div>
    	<div class="column right-column">
    	    {% block rightcolumn %}{% endblock %}
    	</div>
	{% else %}
    	<div class="column wide-column">
    	    {% block widecolumn %}{% endblock %}
    	</div>
	{% endif %}
	{% block belowsection %}{% endblock %}
</div>