{% extends "desktop/sections/base.html" %}
{% set section_id = 'download' %}
{% set hide_backtotop = is_user_page %}

{% block leftcolumn %}
	<h3>
		{{ _('Download') }}
	</h3>
	<p>{{ _('Get Firefox on your phone.') }}</p>
{% endblock %}

{% block widecolumn %}
    <div class="sub-section first">
        <span class="title">{{ _('System requirements:') }} </span>
        {% trans devices_url='http://www.mozilla.com/mobile/platforms/' %}
        Firefox is available for Android phones (2.0 and above) and the Nokia N900. See the list of <a href="{{ devices_url }}">supported devices</a>.
        {% endtrans %}
    </div>
    <div class="sub-section">
        <h4>{{ _('Option 01 / Install it over-the-air') }}</h4>
        <p id="option-01">
            {% trans market_url='http://market.android.com/details?id=org.mozilla.firefox' %}
            From your desktop, click on the <a href="{{ market_url }}">Firefox app in the Android Market</a> and install it over-the-air.
            {% endtrans %}
        </p>
    </div>
    <div class="sub-section">
        {% if profile %}
        <img src="{{ profile.qr_code_download }}" alt="" id="qrcode">
        {% else %}
        <img src="{{ MEDIA_URL }}img/qrcode.png" alt="" id="qrcode">
        {% endif %}
        <h4>{{ _('Option 02 / Scan the QR code') }}</h4>
        <p>
            {% trans %}
            Scan the QR code to install Firefox on your phone, or just access the Market app on your Android and search "Mozilla Firefox".
            {% endtrans %}
            <small>
                <span class="title">{{ _("What's this?") }}</span>
                {% trans %}
                Install a code reader (we suggest searching for "QR reader" in the Android Market) and scan this code with your QR reader app.
                {% endtrans %}
            </small>
        </p>
    </div>
    <div class="sub-section">
        <h4>{{ _("Option 03 / Use your phone's browser") }}</h4>
        <p>
            {% trans download_url='http://firefox.com/m/', link_text='Firefox.com/m' %}
            Point your browser to <a href="{{ download_url }}">{{ link_text }}</a>  and download it from there.
            {% endtrans %}
        </p>
    </div>
    <div class="sub-section">
        <h4>{{ _('Not an Android or Maemo user?') }}</h4>
        <div id="spread-the-word">
            <a class="facebook" href="https://www.facebook.com/dialog/feed?display=popup&amp;app_id=100139296738213&amp;redirect_uri=https://spark.allizom.org/close&amp;link=https://spark.allizom.org/&amp;name={{facebook_title}}&amp;message={{facebook_msg}}"></a>
            
            <a href="https://twitter.com/share?url={{twitter_url}}&amp;text={{twitter_msg}}&amp;via=mozmobile" class="twitter"></a>
        </div>
        <p>
            {% trans %}
            No problems, try Firefox Home for iPhone (get it FREE from iTunes) <br/>
            OR just help spread the word about Firefox for mobile to others.
            {% endtrans %}
        </p>
    </div>
{% endblock %}