{% extends "desktop/sections/base.html" %}
{% set section_id = 'download' %}
{% set hide_backtotop = is_user_page %}

{% block leftcolumn %}
	<h3>
		{{ _('Get Firefox') }}
		<p>{{ _('Get Firefox on your phone, get the Spark.') }}</p>
	</h3>
{% endblock %}

{% block widecolumn %}
    <div class="sub-section first">
        <span class="title">{{ _('System requirements:') }} </span>
        {% trans devices_url='http://www.mozilla.com/mobile/platforms/' %}
        Firefox is available for Android phones (2.0 and above) and the Nokia N900. See the list of <a href="{{ devices_url }}">supported devices</a>.
        {% endtrans %}
    </div>
    <div class="sub-section">
        <img src="{{ MEDIA_URL }}img/qrcode.png" alt="" id="qrcode">
        <h4>{{ _('Option 01 / Scan the QR code') }}</h4>
        <p>
            {% trans %}Scan the QR code to the right with your phone's camera. This will install Firefox on your phone automatically.{% endtrans %}
            <small>
                <span class="title">{{ _("What's this?") }}</span>
                {% trans %}
                Install a code reader (we suggest searching for "QR reader" in your app store) and scan this code with your QR reader app.
                {% endtrans %}
            </small>
        </p>
    </div>
    <div class="sub-section">
        <h4>{{ _("Option 02 / Use your phone's browser") }}</h4>
        <p>
            {% trans download_url='http://firefox.com/m/', link_text='Firefox.com/m' %}
            Get Firefox by pointing your phone's default browser to <a href="{{ download_url }}">{{ link_text }}</a>
            {% endtrans %}
        </p>
    </div>
    <div class="sub-section">
        <h4>{{ _('Option 03 / Install it over-the-air') }}</h4>
        <p>
            {% trans market_url='market://' %}
            From your desktop, click on the <a href="{{ market_url }}">Firefox app in the Android Market</a> and install it over-the-air.
            {% endtrans %}
        </p>
    </div>
    <div class="sub-section">
        <h4>{{ _('Not an Android or MeeGo user?') }}</h4>
        <div id="spread-the-word">
            <a href="#" id="email"></a>
            <a href="#" id="facebook"></a>
            <a href="#" id="twitter"></a>
        </div>
        <p>
            {% trans %}
            No problem, try Firefox Home for iPhone (get it FREE from iTunes) <br/>
            OR just help spread the word about Firefox Mobile to others
            {% endtrans %}
        </p>
    </div>
{% endblock %}
