{% extends "desktop/sections/base.html" %}
{% set section_id = 'learn' %}
{% set three_columns = True %}

{% block leftcolumn %}
	<h3>
		{{ _('Learn') }}
	</h3>
	<p>{{ _("Get the latest on Firefox 4 for Android's features") }}</p>
{% endblock %}

{% block middlecolumn %}
	<ul class="features-list">
		<li class="first">
			<h4>{{ _('Type Less, Browse More') }}</h4>
			<p>{{ _('Firefox learns your favorite sites to help you get where you want to go with minimal typing and more speed.') }}</p>
		</li>
		<li>
			<h4>{{ _('Customize Your Browser') }}</h4>
			<p>{{ _('Add features and functionality that help make your browser your own. Install add-ons directly to your mobile.') }}</p>
		</li>
		<li>
			<h4>{{ _('Stay in Sync') }}</h4>
			<p>{{ _('Securely access your history, passwords, bookmarks and even open tabs across all your devices.') }}</p>
		</li>
	</ul>
{% endblock %}
    
{% block rightcolumn %}
	<ul class="features-list">
		<li class="first">
			<h4>{{ _('Performance &amp; Productivity') }}</h4>
			<p>{{ _('Built on the same technology platform as Firefox for the desktop, Firefox for mobile is optimized for power and efficiency.') }}</p>
		</li>
		<li>
			<h4>{{ _('Share, Find, Save') }}</h4>
			<p>{{ _('Share interesting content with friends in a single tap.') }}</p>
		</li>
		<li>
			<h4>{{ _('Location-Aware Browsing') }}</h4>
			<p>{{ _('Save time by letting sites know where you are (opt-in only).') }}</p>
		</li>
	</ul>
	<a href="#" class="button">{{ _('See Firefox 4 for Android in action') }}</a>
{% endblock %}