<div id="stats">
{% if is_user_page %}
    {% if not logged_in %}
    {% include "desktop/includes/backtotop.html" %}
    {% endif %}
    <div class="column">
        <div class="section-header">
            <h3>{{ _('Spark Stats') }}</h3>
            <p>
                {{ _("Check out {username}'s progress.")|f(username=username) }}
            </p>
        </div>
{% else %}
    {% if not logged_in %}
    {% include "desktop/includes/backtotop.html" %}
    {% endif %}
    <div class="section-header">
        <h3>{{ _('Your Spark') }}</h3>
        <p>
            {{ _('Watch your Spark transform every time you share it. Check out its progress below.') }}
        </p>
    </div>
    <div class="column">
{% endif %}
        <div id="spark-graphic">
            <canvas id="spark">
                <div class="placeholder level-{{ profile.level }}">
                </div>
            </canvas>
        </div>
        <p class="legend">
            {{ _('Sign in with Firefox 4 for Android to see your Spark come alive.') }}
        </p>
    </div>
    <div id="user-stats" class="column">
        <div id="total-shares">
            <span class="count">{{ profile.total_shares }}</span>
            <span class="label">{{ _('total shares') }}</span>
        </div>
        <div id="longest-chain">
            <span class="count">{{ profile.longest_chain }}</span>
            <span class="label">{{ _('longest chain') }}</span>
        </div>
        <div id="activation">
            <div id="days">
                <span class="upper-label">{{ _('days') }}</span>
                <span class="count"></span>
            </div>
            <div id="hours">
                <span class="upper-label">{{ _('hours') }}</span>
                <span class="count"></span>
            </div>
            <div id="minutes">
                <span class="upper-label">{{ _('minutes') }}</span>
                <span class="count"></span>
            </div>
            <div id="seconds">
                <span class="upper-label">{{ _('seconds') }}</span>
                <span class="count"></span>
            </div>
            <span class="label">{{ _('length of activation') }}</span>
        </div>
        {% set most_recent_share = profile.most_recent_share %}
        {% if most_recent_share %}
        <div id="most-recent">
            <span class="count">{{ most_recent_share|timesince }}</span>
            <span class="label">{{ _('most recent share') }}</span>
        </div>
        {% endif %}
    </div>
    <div id="graphs" class="column last">
        <div id="share-history">
            <canvas id="history" height="80" width="310"></canvas>
            <span class="label">{{ _('your shares over time') }}</span>
        </div>
        <div id="sparked-countries">
            <div id="minimap"></div>
            <span class="label">{{ _("countries you've sparked") }}</span>
        </div>
    </div>
</div> <!-- end stats -->