<ul id="badges-list">
    {% for badge in profile.badges %}
    {% set position = loop.index % 12 %}
    {% set position = 12 if position == 0 else position %}
    {% set class = ' nb%s' % position if position >= 8 else '' %}
    <li class="badge{% if badge.new %} new{% endif %}{{ class }}">
        {% if badge.new %}
        <div class="star"></div>
        {% endif %}
        <div class="badge-icon">
            <img src="{{ MEDIA_URL }}img/badges/{{ badge.id|replace('_','-') }}.png" alt="">
        </div>
        <div class="badge-popup">
            <div class="arrow"></div>
            <div class="badge-copy">
                <h4>{{ badge.name|safe }}</h4>
                {% set date_earned = datetimeformat(badge.date_earned, format='longdatetime') %}
                {# L10n: This is followed by the date when a badge was earned. #}
                <span class="unlock-date">{{ _('earned on:') }} {{ date_earned }}</span>
                <p>
                    {{ badge.description|safe }}
                </p>
            </div>
            <img src="{{ MEDIA_URL }}img/badges/{{ badge.id|replace('_','-') }}.png" alt="">
            <div class="badge-sharing">
                <span>{{ _('share this!') }}</span>
                <a class="facebook" href="http://www.facebook.com/dialog/feed?
                display=popup&amp;
                app_id=123050457758183&amp;
                redirect_uri=http://www.example.com&amp;
                link=http://www.example.com&amp;
                picture=http://www.example.com&amp;
                name=Name&amp;
                caption=caption&amp;
                description=description&amp;
                {% set message='Wanna%20help%20me%20light%20up%20the%20world%3F%20Check%20out%20my%20Spark%21' %}
                message={{ message }}"></a>
                <a href="http://twitter.com/share?url= {{ share_url }}" class="twitter"></a>
            </div>
        </div>
	</li>
    {% endfor %}
</ul>