<ol id="challenges-list">
    {% for level in levels %}
    {% if profile.level == loop.index %}
    <li class="open">
    {% else %}
    <li>
    {% endif %}
        <div class="level {% if level.locked %}locked{% endif %}">
            <div class="arrow"></div>
            {{ level.legend }}
            <span class="challenges-count {% if level.completed %}complete{% endif %}">
                <span>{{ level.completed_count }}</span>/{{ level.max_count }}
            </span>
            {% if level.locked %}
            <div class="lock"></div>
            <span class="locked-message">{{ level.locked_message }}</span>
            {% endif %}
        </div>
        <ul class="level-details">
            {% for challenge in level.challenges %}
            <li {% if challenge.completed %}class="complete"{% endif %}>
                <div class="checkbox"></div>
                <span class="title">{{ challenge.name }}</span>
                <p>
                    {{ challenge.description }}
                </p>
                {% if challenge.completed %}
                <img src="{{ MEDIA_URL }}img/badges/{{ challenge.id|replace('_','-') }}.png" alt="">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ol>

{% if False %}
{# L10n: This is a section title that appears above the list of completed hidden challenges #}
{% _('Easter Eggs') %}
{% endif %}