{% extends "mobile/page.html" %}
{% set pagetitle = _('About Mozilla') %}
{% set body_id = 'about' %}
{% set scripts = ('menu',) %}

{% block pagecontent %}
        <div class="section">
            <p class="sans">
				{% trans mozilla_url='http://www.mozilla.org', pretty_link='www.mozilla.org' %}
                Mozilla is a global, non-profit organization dedicated to making the Web better. 
				We believe in principle over profit, and that the Internet is a shared public resource to be cared for, 
				not a commodity to be sold. We work with a worldwide community to create free, open source software 
				like Mozilla Firefox, and to innovate for the benefit of the individual and the betterment of the Web. 
				The result is great products built by passionate people and better choices for everyone.
				For more information, visit <a href="{{ mozilla_url }}">{{ pretty_link }}</a>.
				{% endtrans %}
            </p>
        </div>
        
        <hr>
        <h2 class="cta"><a ontouchstart="" href="{{ url('mobile.legal') }}">{{ _('Legal Stuff') }}</a></h2>
        <hr>
{% endblock %}