{% extends "mobile/page.html" %}
{% set pagetitle = _('Badges') %}
{% set body_id = 'badges' %}
{% set scripts = ('menu', 'badges') %}

{% block pagecontent %}
    <p class="section legend">
        {{ _('Keep track of all your completed challenges and share your badges with friends.') }}
    </p>
    <hr>
    <ul ontouchstart="" id="badge-list" class="section" data-count="{{ badges|count }}">
		{% for badge in badges %}
        <li class="badge" data-index="{{ loop.index }}">
            <a href="#"></a>
            <div class="badge-wrapper">
            </div>
        </li>
		{% endfor %}
    </ul>
    
    <li id="badge-label-tmpl" style="display:none">
        <div>
            <div>
                <div>
                    <img src="{{ MEDIA_URL }}/img/mobile/badge-label-arrow.png">
                    <h2></h2>
                    <p class="sans"></p>
                </div>
            </div>
        </div>
        <div class="button-wrapper">
            <button untouchstart="">{{ _('Share my badge') }}</button>
        </div>
    </li>
{% endblock %}

{% block script %}
	<script>
	$(document).ready(function() {
		initMenu();
		initBadges();
	});
	</script>
{% endblock %}