{% extends "mobile/page.html" %}
{% set pagetitle = _('Badges') %}
{% set stylesheets = ('badges',) %}
{% set body_id = 'badges' %}
{% set scripts = ('menu', 'badges') %}

{% block pagecontent %}
    <p class="section legend">
        {{ _('Keep track of all your completed challenges and share your badges with friends.') }}
    </p>
    <hr>
    {% include "challenges/includes/mobile/badges.html" %}
    <img src="{{ MEDIA_URL }}img/mobile/badge-label-bg.png" alt="" class="preload">
    <img src="{{ MEDIA_URL }}img/mobile/badge-label-arrow.png" alt="" class="preload">
{% endblock %}

{% block script %}
	<script>
	$(document).ready(function() {
		initMenu();
		initBadges();
	});
	</script>
{% endblock %}