{% extends "mobile/page.html" %}
{% from "mobile/macros/errormsg.html" import error_msg %}
{% from "macros/fielderror.html" import fielderror %}
{% set pagetitle = _('Boost your Spark') %}
{% set body_id = 'boost' %}
{% set scripts = ('menu', 'customforms') %}

{% block pagecontent %}
<div class="section">
    <h2>{{ _('Step 2 of 2') }}</h2>
    <p class="sans">
		{% trans %}
        Did someone send you a spark? Enter their username or email address 
		below so you guys can be connected, help visualize where your Spark 
		has travelled and make cool stuff happen.
		{% endtrans %}
    </p>
</div>
{{ error_msg(form) }}
<form method="post" accept-charset="utf-8">
	{{ csrf() }}
    <fieldset id="identifier" class="section">
        <div class="input-wrapper">
            <input tabindex="1" type="text" name="identifier" value="{{ form.identifier.data }}" placeholder="{{ _('Username/email address') }}">
        </div>
		{{ fielderror(form.identifier) }}
		<p class="disclaimer sans">
		{% trans %}
		Your friend's email address is only used to connect the two of you.
		{% endtrans %}

        {% L10n: A new version of this string is now in use %}
        {% if False %}
		{% trans policy_url='http://www.mozilla.com/m/privacy.html' %}
		Email address is only used to connect to you. See our <a href="{{ policy_url }}">Privacy Policy.</a>
		{% endtrans %}
		{% endif %}
		</p>
    </fieldset>
    <hr>
    <fieldset id="from-website">
	    <p class="sans">
	        <input id="from-website-cb" tabindex="2" type="checkbox" name="from_website" class="styled">
	        <label for="from-website-cb">{{ _('I started a new Spark on my own.') }}</label>
	    </p>
    </fieldset>
    <hr>
    <div class="buttons-wrapper">
        {# L10n: Space is limited here. The translation should be no longer than the English version, leave only "Later" if needed #}
	    <div class="button left-button"><a href="{{ url('mobile.home') }}">{{ _('Maybe later') }}</a></div>
		<button tabindex="3" class="right-button" type="submit">{{ _('Find') }}</button>
    </div>
</form>
{% endblock %}