{% extends "mobile/page.html" %}
{% set pagetitle = _('Boost your Spark') %}
{% set body_id = 'boost' %}
{% set scripts = ('menu', 'geolocation') %}
{% set hide_menu = True %}

{% block pagecontent %}
<div class="section">
    <h2>{{ _('Step 1 of 2') }}</h2>
    <p class="sans">
        {{ _('Tap the button below so we can find out where you are.') }}
    </p>
</div>

{% if not geolocation %}
<hr>
<h2 id="disclaimer" class="cta"><a href="http://www.mozilla.com/m/privacy.html">{{ _('Learn how Mozilla protects your geolocation data') }}</a></h2>
<hr>
{% endif %}

{% if geolocation == 'error' %}
<ul class='errorlist'>
    <li>{{ _("Sorry, we couldn't determine your location.") }}</li>
</ul>
<hr>
<h2 id="disclaimer" class="cta"><a href="{{ url('mobile.yourlocation') }}">{{ _('Select your location manually') }}</a></h2>
<hr>
{% endif %}

<form action="" method="post" accept-charset="utf-8">
	{{ csrf() }}
	<input type="hidden" id="lat" name="lat" value="">
	<input type="hidden" id="long" name="long" value="">
	<input type="hidden" id="city" name="city" value="">
	<input type="hidden" id="country-code" name="country_code" value="">
	<input type="hidden" id="country" name="country" value="">
	<input type="hidden" id="us-state" name="us_state" value="">
    <div class="buttons-wrapper">
        {% if not geolocation %}
        {# L10n: Space is limited here. The translation should be no longer than the English version, leave only "Later" if needed #}
        <div class="button left-button"><a href="{{ url('mobile.home') }}">{{ _('Maybe later') }}</a></div>
        {# L10n: Space is limited here. The translation should be no longer than the English version #}
        <div class="button right-button" id="geolocate"><a>{{ _('Locate me') }}</a><img src="{{ MEDIA_URL }}img/mobile/spinner.gif" alt="" class="preload spinner"></div>
    	{% else %}
    	<div class="button left-button"><a href="{{ url('mobile.home') }}">{{ _('Cancel') }}</a></div>
        {# L10n: Space is limited here. The translation should be no longer than the English version #}
        <div class="button right-button" id="geolocate"><a>{{ _('Try again') }}</a><img src="{{ MEDIA_URL }}img/mobile/spinner.gif" alt="" class="preload spinner"></div>
        {% endif %}
    </div>
</form>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    var callback = function() {
        $('form').submit();
    };
    var onLocateMe = function() {
        $('#geolocate a').hide();
    	$('#geolocate img').show();
    	$('ul.errorlist').hide();
    };
    initGeolocation(onLocateMe, callback, callback);
});
</script>
{% endblock %}