{% extends "mobile/page.html" %}
{% set pagetitle = _('Challenges') %}
{% set body_id = 'challenges' %}
{% set scripts = ('menu',) %}

{% block pagecontent %}
{% include "challenges/includes/mobile/challenges.html" %}
{% endblock %}

{% block script %}
	<script>
    $(document).ready(function() {
       initMenu(); 

       $('li.open').children('ul').show();
       
       // Displays the level details
	   $('div.level:not(.locked)').click(function() {
          $(this).parent().toggleClass('open');
          $(this).next('ul').slideToggle('fast');
	   });
	   
	   // Displays the challenge description
	   $('div.challenge').click(function() {
	      $(this).children('p').toggle(); 
	   });
	   
    });
	</script>
{% endblock %}