{% extends "mobile/page.html" %}
{% set pagetitle = _('Boost your Spark') %}
{% set body_id = 'yourlocation' %}
{% set hide_menu = True %}

{% block pagecontent %}
<div class="section">
    <h2>{{ _('Step 1 of 2') }}</h2>
    <p class="section sans">
        {{ _("Select your location manually") }}
    </p>
</div>
    <form id="citychoices" action="" method="POST">
        {{ csrf() }}
        <input id="chosen_city" type="hidden" name="city" value="">
    </form>
    <ul id="city-list">
        {% for (id, city) in cities %}
        <li data-city="{{ id }}"><span>{{ city }}</span></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
    $form = $("form");
    
    $("#city-list li").click(function() {
        var id = $(this).data('city');
        $("#chosen_city").val(id);
        $form.submit();
    });
});
</script>
{% endblock %}