{% extends "mobile/page.html" %}
{% set pagetitle = _('Firefox Spark') %}
{% set body_id = 'home' %}
{% set scripts = ('menu',) %}
{% set hide_menu = True %}

{% block flame %}{% endblock %}

{% block pagecontent %}
<p class="section sans">
    {{ _('Wanna help spread Firefox 4 for Android around the world? Take challenges, unlock badges and earn yourself some bragging rights.') }}
</p>
<hr>
<h2 class="cta"><a href="{{ url('mobile.instructions') }}">{{ _('What is Firefox Spark?') }}</a></h2>
<hr>
<div class="buttons-wrapper">
    <a href="{{ url('users.mobile_register') }}"><button class="left-button">{{ _('Join') }}</button></a>
    <a href="{{ url('users.mobile_login') }}"><button class="right-button">{{ _('Sign in') }}</button></a>
</div>
{% endblock %}