{% extends "mobile/page.html" %}
{% set pagetitle = _('Firefox Spark') %}
{% set body_id = 'home' %}
{% set scripts = ('menu',) %}
{% set hide_menu = True %}

{% block flame %}{% endblock %}

{% block pagecontent %}
<div id="static-spark">
    
</div>
<p class="section sans">
    {{ _('Wanna help spread Firefox for Mobile around the world? Take challenges, unlock badges and earn yourself some bragging rights.') }}
</p>
<hr>
<h2 class="cta"><a ontouchstart="" href="{{ url('mobile.instructions') }}">{{ _('What is Firefox Spark?') }}</a></h2>
<hr>
<div class="buttons-wrapper">
    <a href="{{ url('users.mobile_register') }}"><button ontouchstart="" class="left-button">{{ _('Join') }}</button></a>
    <a href="{{ url('users.mobile_login') }}"><button ontouchstart="" class="right-button">{{ _('Log in') }}</button></a>
</div>
{% endblock %}