{% extends "mobile/page.html" %}
{% set pagetitle = _('What is Spark?') %}
{% set body_id = 'whatisspark' %}
{% set scripts = ('menu',) %}
{% set hide_menu = True %}

{% block pagecontent %}
    <p class="section legend">
        {{ _('Ready to light up the world?') }}
        
	    {# L10n: this is the first paragraph on the Spark home page #}
	    {% trans %}            			    
	    To celebrate Mozilla Firefox going mobile, we've created Spark, a game that 
	    lets you share Firefox with friends and help the flame of the open Web glow 
        bright. So get Spark, engage in challenges, unlock badges and support Mozilla's 
	    mission for a better Web in the process. All good stuff!
	    {% endtrans %}
    </p>

    <hr>
    <div class="section">
        <h2>{{ _('How it works') }}</h2>
        <p class="sans">
            {{ _('Each player starts with their own spark.') }}
        </p>
    </div>
    
    <hr>
    <div class="section">
        <div class="arrow"></div>
        <p class="sans">
            {{ _('The more you share it, the more it grows and evolves.') }}
        </p>
    </div>
    
    <hr>
    <div class="section">
        <div class="arrow"></div>
        <p class="sans">
            {{ _("There are 4 levels of sharing challenges to get through, and for each challenge you complete, you'll earn yourself a sweet little badge.") }}
        </p>
    </div>
    
    <hr>
    <div class="section">
        <div class="arrow"></div>
        <p class="sans">
            {{ _('So do you have what it takes to light up the world? Then get to it!') }}
        </p>
    </div>
    
    <a href="{{ url('users.mobile_register') }}" class="button">{{ _('Start a spark') }}</a>
{% endblock %}