{% extends "mobile/page.html" %}
{% set pagetitle = _('Firefox Spark') %}
{% set body_id = 'home' %}
{% set body_class = 'non-ff' %}
{% set stylesheets = ('non-firefox',) %}
{% set hide_menu = True %}

{% block flame %}{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}

{% block pagecontent %}
    <p class="section sans">
        {% trans %}
        Oh no! Firefox for mobile isn't available for your phone. Too sad. But the good news is
        you can still get Firefox Home for iPhone and share the Firefox Spark. Yay!
        {% endtrans %}
    </p>
    <div class="buttons-wrapper">
        <a href="{{ url('users.mobile_register') }}"><button class="left-button">{{ _('Start a spark') }}</button></a>
        <a href="{{ url('users.mobile_login') }}"><button class="right-button">{{ _('Sign in') }}</button></a>
    </div>

    <hr>
    <div class="section">
        <h2>{{ _('Firefox Home') }}</h2>
        <p class="sans">
            {% trans %}
            With Firefox Home you can access your Firefox history, bookmarks and open tabs on
            your iPhone. Check out how it works below.
            {% endtrans %}
        </p>
    </div>
    <a id="ffhome-video" href="http://videos-cdn.mozilla.net/serv/mobile/firefox-home.mp4">
        <img src="{{ MEDIA_URL }}img/mobile/video-thumbnail.jpg" alt="">
    </a>
    <a href="http://www.mozilla.com/mobile/home/" class="button">{{ _('Get Firefox Home') }}</a>

    <hr>
    <div class="section">
        <h2>{{ _('Learn') }}</h2>
        <h3>{{ _('On the go?') }}</h3>
        <p class="sans">
            {{ _('Have instant access to the list of tabs you have open on your desktop.') }}
        </p>
        <h3>{{ _('Type Less') }}</h3>
        <p class="sans">
            {{ _('Just tap your bookmarks to get to your favorite websites.') }}
        </p>
        <h3>{{ _('Search') }}</h3>
        <p class="sans">
            {{ _('Start typing and the Awesome Bar takes you straight to your fave sites.') }}
        </p>
    </div>
    <a href="http://www.mozilla.com/mobile/home/" class="button">{{ _('Learn more') }}</a>

    <hr>
    <div class="section">
        <h2>{{ _('About Us') }}</h2>
        <p class="sans">
            {{ _('The Firefox Mobile browser is created by Mozilla, a non-profit organization whose
            mission is to promote openness, innovation and opportunity on the Web.') }}
        </p>
    </div>
    <a href="{{ url('mobile.about') }}" class="button">{{ _('About Mozilla') }}</a>

    <div id="non-ff-links">
        <a href="http://www.mozilla.com/m/privacy.html">{{ _('Privacy Policy') }}</a>
        <a href="http://www.mozilla.com/about/legal.html">{{ _('Legal Notices') }}</a>
        <a class="last" href="http://www.mozilla.com/legal/fraud-report/index.html">{{ _('Report Trademark Abuse') }}</a>
    </div>

    <p class="license sans">
    	{% trans noted_url='http://www.mozilla.com/en-US/about/legal.html#site', license_url='http://creativecommons.org/licenses/by-sa/3.0/' %}
    	Except where otherwise <a href="{{ noted_url }}">noted</a>, content of this site is licensed under the
    	<a href="{{ license_url }}">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.
    	{% endtrans %}
    </p>
{% endblock %}

{% block script %}{% endblock %}
