{% extends "mobile/page.html" %}
{% set title = _('Spark! Legal') %}
{% set pagetitle = _('Legal') %}
{% set body_id = 'legal' %}
{% set scripts = ('menu',) %}
{% set hide_menu = True %}

{% block pagecontent %}
    <p class="section sans">
            Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis. Nam vestibulum, arcu sodales feugiat consectetur, nisl orci bibendum elit, eu euismod magna sapien..
    </p>
    <p class="section sans">
            Quisque commodo hendrerit lorem quis 
            egestas. Maecenas quis tortor arcu. Vivamus 
            rutrum nunc non neque consectetur quis 
            placerat neque lobortis. Nam vestibulum, arcu 
            sodales feugiat consectetur, nisl orci bibendum 
            elit, eu euismod magna sapien..
    </p>
    <p class="section sans">
            Quisque commodo hendrerit lorem quis 
            egestas. Maecenas quis tortor arcu. Vivamus 
            rutrum nunc non neque consectetur quis 
            placerat neque lobortis. Nam vestibulum, arcu 
            sodales feugiat consectetur, nisl orci bibendum 
            elit, eu euismod magna sapien..
    </p>
{% endblock %}