{% extends "mobile/page.html" %}
{% set pagetitle = _('Legal stuff') %}
{% set body_id = 'legal' %}
{% set scripts = ('menu',) %}

{% block pagecontent %}
    <p class="section sans">
        {{ _('We hope you like Firefox 4 for Android and enjoy the Spark game.') }}
    </p>
    <p class="section sans">
        {{ _('To learn more about your rights and our privacy practices see the following:') }}
    </p>
     <div class="legal-links">
        <a href="http://www.mozilla.com/en-US/m/privacy.html">{{ _('Mozilla Firefox Privacy Policy') }}</a>
        <a href="about:rights">{{ _('Mozilla Firefox: About your license rights') }}</a>
        <a class="last" href="http://www.mozilla.com/en-US/about/legal.html">{{ _('Mozilla websites Legal Notices') }}</a>
    </div>
    <p class="section sans">
        {{ _("To learn how Firefox's geolocation capabilities protect your personal information, please review our privacy policy.") }}
    </p>
    <p class="section sans">
        {{ _('Mozilla Firefox Spark content is licensed under the Creative Commons Attribution Share-Alike License v3.0 or any later version.') }}
    </p>
{% endblock %}