{% extends "mobile/page.html" %}
{% set pagetitle = _('My Firefox Spark') %}
{% set body_id = 'myspark' %}
{% set scripts = ('menu', 'myspark') %}

{% block flame %}
{% endblock %}

{% block pagecontent %}
<div id="spark-wrapper" class="fpo">
    <canvas id="spark">
        
    </canvas>
</div>

<hr class="clear">
<h2 class="cta"><a href="{{ url('mobile.shareqr') }}">{{ _('Share your Spark') }}</a></h2>
<hr>
{% endblock %}

{% block script %}
{% include 'mobile/includes/myspark-script.html' %}
{% endblock %}