{% extends "mobile/page.html" %}
{% set pagetitle = _('Firefox Spark') %}
{% set body_id = 'home' %}
{% set body_class = 'non-ff' %}
{% set stylesheets = ('non-firefox',) %}
{% set hide_menu = True %}

{% block flame %}{% endblock %}
{% block title %}{{ pagetitle }}{% endblock %}

{% block pagecontent %}
    {% if non_android %}
    <p class="section sans">
        {% trans %}
        Oh no! Firefox for mobile isn't 
        available for your phone. Too sad. But 
        the good news is you can still get 
        Firefox for your desktop computer and 
        share the Firefox Spark. Yay!
        {% endtrans %}
    </p>
    <div class="buttons-wrapper">
        <a href="{{ url('users.mobile_register') }}"><button ontouchstart="" class="left-button">{{ _('Start a spark') }}</button></a>
        <a href="{{ url('users.mobile_login') }}"><button ontouchstart="" class="right-button">{{ _('Sign in') }}</button></a>
    </div>
    {% else %}
    <p class="section sans">
        {% trans %}
        Oops! You haven't downloaded 
        Firefox for Android yet. Get it now and 
        start a spark.
        {% endtrans %}
    </p>
    <a href="http://www.mozilla.com/m/" class="button" ontouchstart="">{{ _('Get Firefox for mobile') }}</a>
    {% endif %}

    <hr>
    <div class="section">
        <h2>{{ _('Meet Firefox 4 for desktop') }}</h2>
        <p class="sans">
            {{ _('Here are just a few of the amazing things Firefox has to offer:') }}
        </p>
        <h3>{{ _('A fresh new look') }}</h3>
        <p class="sans">
            {{ _('A new user interface lets Web content take center stage.') }}
        </p>
        <h3>{{ _('Blazing speed') }}</h3>
        <p class="sans">
            {{ _('Huge performance gains make Firefox 4 almost six times faster than Firefox 3.6.') }}
        </p>
        <h3>{{ _('Stay in Sync') }}</h3>
        <p class="sans">
            {{ _('Synchronize your Firefox history, bookmarks, tabs and passwords across multiple devices.') }}
        </p>
        <h3>{{ _('Customize your browser') }}</h3>
        <p class="sans">
            {{ _('Add features and functionality to customize Firefox exactly the way you like.') }}
        </p>
    </div>
    <a href="http://www.mozilla.com/m/" class="button" ontouchstart="">{{ _('Learn more') }}</a>

    <hr>
    <div class="section">
        <h2>{{ _('About Us') }}</h2>
        <p class="sans">
            {% trans mozilla_url='http://www.mozilla.org', pretty_link='www.mozilla.org' %}
            Mozilla is a global, non-profit organization dedicated to making the Web better. 
            We believe in principle over profit, and that the Internet is a shared public resource to be cared for, not a commodity to be sold. 
            We work with a worldwide community to create free, open source software like Mozilla Firefox, and to innovate for the benefit of the individual and the betterment of the Web. 
            The result is great products built by passionate people and better choices for everyone. For more information, visit <a href="{{ mozilla_url }}">{{ pretty_link }}</a>.
            {% endtrans %}
        </p>
    </div>
    <a href="{{ url('mobile.about') }}" class="button" ontouchstart="">{{ _('Learn more') }}</a>

    <div id="non-ff-links">
        <a href="http://www.mozilla.com/m/privacy.html">{{ _('Privacy Policy') }}</a>
        <a href="http://www.mozilla.com/about/legal.html">{{ _('Legal Notices') }}</a>
        <a class="last" href="http://www.mozilla.com/legal/fraud-report/index.html">{{ _('Report Trademark Abuse') }}</a>
    </div>

    <p class="license sans">
    	{% trans noted_url='http://www.mozilla.com/en-US/about/legal.html#site', license_url='http://creativecommons.org/licenses/by-sa/3.0/' %}
    	Except where otherwise <a href="{{ noted_url }}">noted</a>, content of this site is licensed under the
    	<a href="{{ license_url }}">Creative Commons Attribution Share-Alike License v3.0</a> or any later version.
    	{% endtrans %}
    </p>
{% endblock %}

{% block script %}{% endblock %}
