{% extends "mobile/page.html" %}
{% set pagetitle = _('Share with a link') %}
{% set body_id = 'share-link' %}
{% set scripts = ('menu',) %}

{% block pagecontent %}
    <p class="section legend">
        {{ _('Select a link below to start sharing your Spark with friends.') }}
    </p>
    <ul id="sharing">
        <li class="cta"><a href="http://twitter.com/share?url={{twitter_url}}&amp;text={{twitter_msg}}%20%23spark&amp;via=mozmobile" target="_blank">{{ _('Share on Twitter') }}</a></li>
        <li class="cta"><a href="http://m.facebook.com/dialog/feed?display=touch&amp;app_id=100139296738213&amp;redirect_uri={{facebook_url}}&amp;link={{facebook_url}}&amp;name={{facebook_title}}&amp;message={{facebook_spark_msg}}">{{ _('Share on Facebook') }}</a></li>
        <li class="cta"><a href="">{{ _('Share via SMS') }}</a></li>
    </ul>
{% endblock %}