{% extends "mobile/page.html" %}
{% set pagetitle = _('Share my badge') %}
{% set body_id = 'share-badge' %}
{% set scripts = ('menu',) %}

{% block pagecontent %}
    <p class="section legend">
        {{ _('Share your cool badge with others by clicking a link below.') }}
    </p>
    <ul id="sharing">
        <li class="cta"><a href="http://twitter.com/share?url={{twitter_url}}&amp;text={{ twitter_badge_msg % {'badge_name':badge_name, 'short_url':''} }}&amp;via=mozmobile" target="_blank">{{ _('Share on Twitter') }}</a></li>
        <li class="cta"><a href="http://m.facebook.com/dialog/feed?display=touch&amp;app_id=100139296738213&amp;redirect_uri={{facebook_url}}&amp;link={{facebook_url}}&amp;name={{facebook_title}}&amp;message={{ facebook_badge_msg % {'badge_name':badge_name} }}">{{ _('Share on Facebook') }}</a></li>
        <li class="cta"><a href="sms:">{{ _('Share via SMS') }}</a></li>
    </ul>
{% endblock %}