{% extends "mobile/page.html" %}
{% set pagetitle = _('Stats') %}
{% set body_id = 'stats' %}
{% set scripts = ('menu',) %}

{% block pagecontent %}
    <p class="section legend">
    {{ _("Check out what's happening worldwide.") }}
    </p>
    <ul id="stats-list">
        <li>
        439,203
        {# L10n: Global statistic representing the total number of Spark shares. #}
        <span>{{ _('Total Sparks') }}</span>
        </li>
        
        <li>
        97
        {# L10n: Global statistic representing the total number of countries where Sparks have been shared. #}
        <span>{{ _('Countries Sparked') }}</span>
        </li>
    
        <li>
        6
        {# L10n: Global statistic representing the total number of continents where Sparks have been shared. #}
        <span>{{ _('Continents Sparked') }}</span>
        </li>

        <li>
        8,135
        {# L10n: Global statistic representing the total number of Spark badges unlocked by all players. #}
        <span>{{ _('Badges Unlocked') }}</span>
        </li>
    </ul>
{% endblock %}