{% extends "mobile/page.html" %}
{% set pagetitle = _('Sign in') %}
{% set body_id = 'login' %}
{% set scripts = ('menu',) %}
{% set hide_menu = True %}

{% block pagecontent %}
	    <p class="section legend">
	        {{ _('Welcome back! Ready to keep your Spark going strong? Just fill your details in below.') }}
	    </p>
	    <hr>
		{% if form.errors %}
		<span class="error">{{ _('Oops! Please try again') }}</span>
		{% endif %}
	    <form method="post" accept-charset="utf-8">
			{{ csrf() }}
	        <fieldset id="account" class="section">
				
	            <div class="input-wrapper">
	                <input tabindex="1" type="text" name="username" value="{{ form.username.data }}" placeholder="{{ _('Username') }}" required>
	            </div>
	            <div class="input-wrapper">
	                <input tabindex="2" type="password" name="password" value="" placeholder="{{ _('Password') }}" required>
	            </div>
	        </fieldset>
	        <hr>
	        <div class="buttons-wrapper">
				<div class="button left-button"><a href="{{ url('mobile.home') }}">{{ _('Cancel') }}</a></div>
	            <button tabindex="3" class="right-button" type="submit">{{ _('Sign in') }}</button>
	        </div>
	    </form>
	    <hr class="clear">
	    <h2 class="cta"><a href="{{ url('users.mobile_forgot_password') }}">{{ _('Forgot your password?') }}</a></h2>
	    <hr>
{% endblock %}