{% extends "mobile/page.html" %}
{% set pagetitle = _('Email sent') %}
{% set body_id = 'forgot-pwd' %}
{% set hide_menu = True %}

{% block pagecontent %}
	<p class="section sans">
		{% trans %}
		You're almost there. We just sent you a link to reset your password. Please wait a few moments before it arrives, 
		then follow the instructions to sign back in.
		{% endtrans %}
	</p>
	<p class="section sans">
	    {% trans %}
	    If you do not receive an email please check your spam folder and confirm you used the same email address during registration.
	    {% endtrans %}
	</p>
	<hr>
	<h2 class="cta"><a href="{{ url('mobile.home') }}">{{ _('Take me home') }}</a></h2>
	<hr>
{% endblock %}