{% extends "mobile/page.html" %}
{% set pagetitle = _('Email sent') %}
{% set body_id = 'forgot-pwd' %}
{% set hide_menu = True %}

{% block pagecontent %}
	<p class="section sans">
		{% trans %}
		Youʼre almost there. We just sent you a link to reset your password. Please
		wait a few moments before it arrives, then follow the instructions to log
		back in.
		{% endtrans %}
	</p>
	<hr>
	<h2 class="cta"><a ontouchstart="" href="{{ url('mobile.home') }}">{{ _('Take me home') }}</a></h2>
	<hr>
{% endblock %}