{% extends "mobile/page.html" %}
{% set pagetitle = _('Forgot your password?') %}
{% set body_id = 'forgot-pwd' %}
{% set hide_menu = True %}

{% block pagecontent %}
	<p class="section legend">
	    {{ _("No problem. Just enter the email address you used to sign up and you'll get a link to reset your password.") }}
	</p>
	<hr>
	<form action="" method="post" accept-charset="utf-8">
		{{ csrf() }}
	    <fieldset id="account" class="section">
	        <div class="input-wrapper">
				<input tabindex="1" type="email" name="email" value="" placeholder="{{ _('Email address') }}" required>
	        </div>
	    </fieldset>
	    <hr>
	    <div class="buttons-wrapper">
	        <div class="button left-button"><a href="{{ url('mobile.home') }}">{{ _('Cancel') }}</a></div>
	        <button ontouchstart="" tabindex="2" class="right-button" type="submit">{{ _('Send') }}</button>
	    </div>
	</form>
{% endblock %}