{% extends "desktop/base.html" %}
{% set title = _('Page Not Found') %}
{% set logged_in = request.user.is_authenticated() %}
{% set body_class = 'error404' %}
{% set scripts = ('desktop', 'home') %}

{% if logged_in %}
{% set body_id = 'dashboard' %}
{% else %}
{% set body_id = 'home' %}
{% endif %}


{% block content %}
<div id="container">
    <div id="top-bg">
        <div id="spark-bg"></div>
        <div id="wrapper">
    	    <div id="masthead">
    		    <a href="http://www.mozilla.com/" id="visit-mozilla"></a>
                {% if not logged_in %}
    		    <span id="have-account">{{ _('Already got Spark?') }} <a class="popup-trigger">{{ _('Sign in >') }}</a></span>
    		    <span id="create-account">{{ _('Start a new Spark.') }} <a class="popup-trigger">{{ _('Register >') }}</a></span>
    		    <span id="js-warning">{{ _('You will need to enable JavaScript in order to use this site') }}</span>
    			<div id="logo">
    			    <a href="{{ url('desktop.home') }}">
    				<img src="{{ MEDIA_URL }}img/lockup.png" alt="{{ _('Mozilla Firefox') }}">
    				</a>
    			</div>
    			{% include 'desktop/menus/404-loggedout.html' %}
    			
                {% else %}
                <div class="user-info">
                {% include "desktop/includes/hello.html" %}
                </div>
                <div id="logo">
                    <a href="{{ url('desktop.home') }}">
                	<img src="{{ MEDIA_URL }}img/lockup.png" alt="{{ _('Mozilla Firefox') }}">
                	</a>
                </div>
                {% include 'desktop/menus/404-loggedin.html' %}
                {% endif %}
                </div> <!-- end masthead -->
                
            <div id="headline">
        			<h1>
        				{{ _('Whoops!') }}
        			</h1>
        			<h3>{{ _('Error 404') }}</h3>
        			<p>
        			    {{ _("It looks like the page you were looking for doesn't exist.") }} 
        			    <a href="{{ url('desktop.home') }}">{{ _('Go to the homepage') }} ></a>
        			</p>
    		</div> <!-- end headline -->
            
            {% include 'desktop/includes/footer.html' %}

        </div> <!-- end wrapper -->
    </div> <!-- end top-bg -->
</div> <!-- end container -->
{% if not logged_in %}
{% include 'desktop/popups/logged-out.html' %}
{% endif %}
<div id="mask"></div>
<div id="mask-noclick"></div>
{% endblock %}
