   var $popups = $('div.badge-popup');
   
   // Show the badge popup when a badge is clicked and hides all others
   $('div.badge-icon').click(function() {
        $(this).parent().siblings().children('div.badge-popup').hide();
        $(this).siblings('div.badge-popup').fadeToggle(200);
        $('body').addClass('clickable');
   });
   
   // Displays the level details
   $('div.level:not(.locked)').click(function() {
         $(this).parent().toggleClass('open');
         $(this).next('ul').slideToggle('fast');
   });
   
   $('body').click(function(e) {
     if( !$(e.target).is('div.badge-popup, div.badge-icon, div.badge-icon img, div.badge-popup p, div.badge-popup span, div.badge-popup div, div.badge-popup img, div.badge-popup h4') ) {
       if($('body').hasClass('clickable')) {
           $(this).removeClass('clickable');
           $popups.fadeOut(200);
       }
     }
   });
   
   // Localized country list
   countryNames = {{ countries|safe }};
   
   // Init all dashboard components
   countUp({{ date_joined_delta }});
   initShareHistory({{ profile.shares_over_time }});
   initSpark({{ profile.level }});
   initSparkedCountries({{ profile.sparked_countries|safe }});
