<script type="text/javascript">
$(document).ready(function() {
   var $popups = $('div.badge-popup'),
       $popupChildren = $('div.badge-popup').children();
   
   // Show the badge popup when a badge is clicked and hides all others
   $('div.badge-icon').click(function() {
        $(this).parent().siblings().children('div.badge-popup').hide();
        $(this).siblings('div.badge-popup').fadeToggle(200);
        $('body').addClass('clickable');
   });
   
   // Displays the level details
   $('div.level:not(.locked)').click(function() {
         $(this).parent().toggleClass('open');
         $(this).next('ul').slideToggle('fast');
   });
   
   $('body').click(function(e) {
     if( !$(e.target).is('div.badge-popup, div.badge-icon, div.badge-popup p, div.badge-popup span, div.badge-popup div, div.badge-popup h4') ) {
       if($('body').hasClass('clickable')) {
           $(this).removeClass('clickable');
           $popups.fadeOut(200);
       }
     }
   });
   
   {% set delta='4567129' %}
   countUp({{ delta }});
   
   initShareHistory([30,0,120,20,40, 15, 10, 20, 40, 80, 40, 20, 39, 23, 32]);
   
   {% set level=5 %}
   var level = {{ level }};

   initShapes(level);
   
   update()
   drawShapes(shapes, level);

   // setInterval(function() {
   //     update();
   //     ctx.clearRect(0, 0, w, h);
   //     drawShapes(shapes, level);
   // }, 1000 / 30);
   
});
</script>