<!DOCTYPE html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		{# L10n: Page title pattern for <title> tag. #}
		<title>{{ _('{title} | Spark powered by Firefox for mobile')|f(title=title) }}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL}}img/favicon.png">
		<link rel="apple-touch-icon" href="{{ MEDIA_URL}}img/apple-touch-icon.png">
		{% block site_css %}
	      {{ css('desktop') }}
	    {% endblock %}
	    {% for stylesheet in stylesheets %}
        {{ css(stylesheet) }}
        {% endfor %}
		{{ js('modernizr') }}
        <!--[if lte IE 7]>
            <link rel="stylesheet" href="{{ MEDIA_URL }}css/ie6-7.css">
        <![endif]-->
		<!--[if IE 6]>
	        {{ js('pngfix') }}
	        <script>
	          DD_belatedPNG.fix('.png');
	        </script>
	    <![endif]-->

    {% if LANG != 'en-US' %}
	    <style>
    
	    .back-to-top .copy {
        {# L10n: DO NOT LOCALIZE! Controls width of ^ Back To Top ^ link. Value is a percentage. Adjust the value so that the string fits on one line only. Examples: 20 or 35 or 40. #}
        {% if _('custom-css-back-to-top-width') and _('custom-css-back-to-top-width') != 'custom-css-back-to-top-width' %}
            width: {{ _('custom-css-back-to-top-width') }}%;
        {% endif %}
        }
    
	    .left-line, .right-line {
        {# L10n: DO NOT LOCALIZE! Controls width of lines surrounding ^ Back To Top ^ link. Value is a percentage. This value should be equal to: (100 - custom-css-back-to-top-width) / 2  #}
        {% if _('custom-css-back-to-top-lines-width') and _('custom-css-back-to-top-lines-width') != 'custom-css-back-to-top-lines-width' %}
            width: {{ _('custom-css-back-to-top-lines-width') }}%;
        {% endif %}
        }
    
	    {# L10n: DO NOT LOCALIZE! You can use this string to put custom CSS rules to fix any design issues. https://developer.mozilla.org/en/css #}
        {% if _('custom-css') and _('custom-css') != 'custom-css' %}
            {{ _('custom-css') }}
        {% endif %}
        
        </style>
    {% endif %}
	    
	</head>
	
	<body id="{{ body_id }}" class="lang-{{ LANG }} {{ body_class }}">
		{% block content %}{% endblock %}

		{{ js('common') }}
		{% for script in scripts %}
		{{ js(script) }}
		{% endfor %}
		
		{% block script %}{% endblock %}

        {% include "includes/webtrends.html" %}
	</body>
</html>
