{% extends "desktop/base.html" %}
{% set title = _('Your Spark dashboard') %}
{% set body_id = 'dashboard' %}
{% set scripts = ('desktop', 'raphael', 'dashboard') %}

{% block content %}
	    <div id="container">
            <div id="wrapper">
    
        	    <div id="masthead" class="wrapper">		    
            		    <a href="http://www.mozilla.com/" id="visit-mozilla"></a>
            			<div id="logo">
        			        <a href="{{ url('desktop.home') }}">
            				<img src="{{ MEDIA_URL }}img/lockup.png" alt="{{ _('Mozilla Firefox') }}">
            				</a>
            			</div>
            			{% include 'desktop/menus/dashboard.html' %}
        		</div> <!-- end masthead -->

                {% include 'desktop/sections/userinfo.html' %}
                {% include 'desktop/sections/yourspark.html' %}
                {% include 'desktop/sections/yourbadges.html' %}
                {% include 'desktop/sections/challenges.html' %}
    			{% include 'desktop/sections/share.html' %}
				{% include 'desktop/sections/globalspark.html' %}
				{% include 'desktop/sections/about.html' %}

    	        {% include 'desktop/includes/footer.html' %}
            
            </div>
		</div> <!-- end container -->
        
        <div id="tooltip">
            <div id="tooltip-arrow"></div>
            <span></span>
        </div>

    	{% include 'desktop/popups/logged-in.html' %}
    	
		<div id="mask"></div>
		<img src="{{ MEDIA_URL }}img/badge-popup-bg.png" class="preload" alt="">
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function() {
    
    {% include 'desktop/includes/dashboard-script.html' %}
    
});
</script>
{% endblock %}