{% extends "desktop/base.html" %}
{% set title = _('Home') %}
{% set body_id = 'logged-out' %}

{% if not is_pwreset %}
{% set scripts = ('desktop', 'home') %}
{% else %}
{% set scripts = ('desktop', 'home', 'pwreset') %}
{% endif %}

{% block content %}
    <div id="container">
	    <div id="top-bg">
	        <div id="spark-bg"></div>
            <div id="wrapper">
        	    <div id="masthead">	    
        		    <a href="http://www.mozilla.com/" id="visit-mozilla"></a>
        		    <span id="have-account">{{ _('Already got Spark?') }} <a class="popup-trigger">{{ _('Sign in >') }}</a></span>
        		    <span id="create-account">{{ _('Start a new Spark.') }} <a class="popup-trigger">{{ _('Register >') }}</a></span>
        		    <span id="js-warning">{{ _('You will need to enable JavaScript in order to use this site') }}</span>
        			<div id="logo">
        			    <a href="{{ url('desktop.home') }}">
        				<img src="{{ MEDIA_URL }}img/lockup.png" alt="{{ _('Mozilla Firefox') }}">
        				</a>
        			</div>
        			{% include 'desktop/menus/home.html' %}
        		</div> <!-- end masthead -->

                <div id="headline">
            			<h1>
            				{{ _('Spark') }} <span>{{ _('powered by Firefox for mobile') }}</span>
            			</h1>
            			<h3>{{ _('Ready to light up the world?') }}</h3>
            			<p>
            			    {% trans %}
            			    To celebrate Mozilla Firefox going mobile, we've created Spark, a game that challenges you to share with friends to help the flame of the open Web glow bright. 
            			    So get Spark, take challenges, unlock badges and support Mozilla's mission for a better Web in the process. All good stuff!
            			    {% endtrans %}
            			    <a href="#download">{{ _('Get Firefox and start a spark >') }}</a>
            			</p>
        		</div> <!-- end headline -->

    			{% include 'desktop/sections/globalspark.html' %}
    		    {% include 'desktop/sections/learn.html' %}
    			{% include 'desktop/sections/getfirefox.html' %}
                {% include 'desktop/sections/about.html' %}
                
                {% include 'desktop/includes/footer.html' %}

            </div> <!-- end wrapper -->
        </div> <!-- end top-bg -->
    </div> <!-- end container -->

    {% include 'desktop/popups/logged-out.html' %}
    {% include 'desktop/popups/video-player.html' %}
	<div id="mask"></div>
	<div id="mask-noclick"></div>
{% endblock %}
