{% extends "desktop/base.html" %}
{% set title = _('Spark! Home page') %}
{% set body_id = 'logged-out' %}
{% set scripts = ('jquery-ui', 'desktop') %}

{% block content %}
    <div id="container">
	    <div id="top-bg">
	        <div id="spark-bg"></div>
            <div id="wrapper">
        	    <div id="masthead">	    
        		    <a href="http://www.mozilla.com/" id="visit-mozilla"></a>
        		    <span id="have-account">{{ _('Already have a Spark?') }} <a href="#" class="popup-trigger">{{ _('Sign in >') }}</a></span>
        			<div id="logo">
        				<img src="{{ MEDIA_URL }}img/lockup.png" alt="{{ _('Mozilla Firefox') }}">
        			</div>
        			{% include 'desktop/menus/home.html' %}
        		</div> <!-- end masthead -->

                <div id="headline">
            			<h1>
            				{{ _('Spark') }} <span>{{ _('powered by Firefox for mobile') }}</span>
            			</h1>
            			<h3>{{ _('Ready to light up the world?') }}</h3>
            			<p>
            			    {% trans %}
            			    To celebrate Firefox going mobile, we created Spark. Spark is a game based on fun sharing challenges. 
            			    It's a great way to share the word about Firefox for mobile and have fun doing it. 
            			    So get Spark, join the Firefox community, take challenges, unlock badges and earn yourself some bragging rights.
            			    {% endtrans %}
            			    <a href="#download">{{ _('Get Firefox and start a Spark >') }}</a>
            			</p>
        		</div> <!-- end headline -->

    			{% include 'desktop/sections/globalspark.html' %}
    		    {% include 'desktop/sections/learn.html' %}
    			{% include 'desktop/sections/getfirefox.html' %}
                {% include 'desktop/sections/about.html' %}
                
                {% include 'desktop/includes/footer.html' %}

            </div> <!-- end wrapper -->
        </div> <!-- end top-bg -->
    </div> <!-- end container -->

    {% include 'desktop/popups/logged-out.html' %}
	<div id="mask"></div>
</div> <!-- end wrapper -->
{% endblock %}
