{% extends "desktop/base.html" %}
{% set title = _('Spark! Dashboard') %}
{% set body_id = 'personal' %}
{% set body_class = 'logged-in' %}
{% set scripts = ('jquery-ui', 'desktop') %}

{% block content %}
	    <div id="container">
	        <div id="wrapper">
        	    <div id="masthead">
            		    <a href="http://www.mozilla.com/" id="visit-mozilla"></a>
            			<div class="user-info">
            			    <span class="hello">
            			        Hello, <span class="username">FoxyBarbarian!</span>
                			    <br>
                			    <span id="log-out">Not FoxyBarbarian? <a href="#">Sign out ></a></span>
            			    </span>
            			</div>
            			<div id="logo">
            				<img src="img/lockup.png" alt="Mozilla Firefox">
            			</div>
            			<ul id="main-menu">
            				<li><a href="#download">get Firefox</a>
            					<span class="subtitle">on your phone</span>
            				</li>
            				<li><a href="#stats">stats</a>
            					<span class="subtitle">check progress</span>
            				</li>
            				<li><a href="#global-spark">global spark</a>
            					<span class="subtitle">see the latest stats</span>
            				</li>
            			</ul>
        		</div> <!-- end masthead -->

                <div id="main-info">
            			<h1>
            				Firefox Spark
            			</h1>
            			<div id="user-info">
            			    <span id="username">FoxyBarbarian</span>'s Spark
            			</div>
        		</div>	 <!-- end main-info -->
        
                <div id="stats">
                    <div class="column">
                        <div class="section-header">
                            <h3>Spark Stats</h3>
                            <p>
                                Check out <span class="username">FoxyBarbarian</span>'s progress.
                            </p>
                        </div>
                        <div id="spark-graphic">
                            <img src="img/your-spark.png">
                        </div>
                    </div>
                    <div id="user-stats" class="column">
                        <div id="total-shares">
                            <span class="count">52</span>
                            <span class="label">total shares</span>
                        </div>
                        <div id="longest-chain">
                            <span class="count">4</span>
                            <span class="label">longest chain</span>
                        </div>
                        <div id="activation">
                            <div id="days" class="">
                                <span class="upper-label">days</span>
                                <span class="count">08 :</span>
                            </div>
                            <div id="hours" class="">
                                <span class="upper-label">hours</span>
                                <span class="count">11 :</span>
                            </div>
                            <div id="minutes" class="">
                                <span class="upper-label">minutes</span>
                                <span class="count">23 :</span>
                            </div>
                            <div id="seconds" class="">
                                <span class="upper-label">seconds</span>
                                <span class="count">45</span>
                            </div>
                            <span class="label">length of activation</span>
                        </div>
                        <div id="most-recent">
                            <span class="count">3 hours ago</span>
                            <span class="label">most recent share</span>
                        </div>
                    </div>
                    <div id="graphs" class="column last">
                        <div id="share-history" class="">
                            <img src="img/graph1.png">
                            <span class="label">your shares over time</span>
                        </div>
                        <div id="sparked-countries" class="">
                            <img src="img/graph2.png">
                            <span class="label">countries you've Sparked</span>
                        </div>
                    </div>
                </div> <!-- end stats -->
        
                <div id="badges">
                    <div class="section-header">
                        <h3>Badges earned</h3>
                    </div>
                    <ul id="badges-list">
                        <li class="badge new">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new">
                            <div class="badge-icon"></div>                        
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new arrow1">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new arrow2">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge new arrow3">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge arrow4">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge arrow5">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                        <li class="badge">
                            <div class="badge-icon"></div>
                            <div class="star"></div>
                            <div class="badge-popup">
                                <div class="arrow"></div>
                                <div class="badge-copy">
                                    <h4>Lorem Ipsum Dolor Sit</h4>
                                    <span class="unlock-date">earned on: 3/1/11, 04:17:32pm</span>
                                    <p>
                                        Lorem ipsum dolor sit amet, cons ectetur adipiscing elit. 
                                        Vivamus nisl tellus, ultrices vel fringilla in, digni ssim nec erat.
                                        Proin vitae velit neque. Maecenas ligula nisl, pulvinar sed fringilla innisl.
                                    </p>
                                </div>
                                <div class="badge-img">
                                    <img src="img/large-badge.png" alt="">
                                </div>
                                <div class="badge-sharing">
                                    <span>share this!</span>
                                    <a href="#" class="email"></a>
                                    <a href="#" class="facebook"></a>
                                    <a href="#" class="twitter"></a>
                                </div>
                            </div>
                        </li>
                    </ul>
            
                    <div class="clearfix">
                        <!-- necessary because the above list cannot have an overflow:auto property -->
                    </div>
                </div>

		
    			<div id="global-spark" class="section">
    			    <div class="back-to-top">
                        <div class="left-line"></div>
                        <div class="copy">
                            <div class="arrow"></div>
                            <a href="#masthead">back to top</a>
                            <div class="arrow"></div>
                        </div>
                        <div class="right-line"></div>
    			    </div>
    			    <div class="clearfix"></div>
    				<div class="column left-column">
    					<h3>
    						Global <br>Spark
    					</h3>
    				</div>
    				<div class="column wide-column">
    					<p><span class="title">See the Sparks fly.</span> Here’s whats going on in the rest of the world. Launch the visualization in real-time to see your stats on the map and how you’re a part of something bigger. </p>
    				</div>
    				<a href="#" class="button">Launch real-time visualization</a>
    				<div id="globalmap">
    				    <!-- Temporary image here -->
    				</div>
    				<ul id="random-stats" class="items">
    					<li class="first">
    						<span class="count">472,976</span>
    						<span class="title">Total Sparks</span>
    						<p>Lorem ipsum dolor sit amet sic non ummy sed lacus.</p>
    					</li>
    					<li>
    						<span class="count">138</span>
    						<span class="title">Fun Global Statistic</span>
    						<p>Lorem ipsum dolor sit amet sic non ummy sed lacus.</p>
    					</li>
    					<li>
    						<span class="count">138</span>
    						<span class="title">Fun Global Statistic</span>
    						<p>Lorem ipsum dolor sit amet sic non ummy sed lacus.</p>
    					</li>
    					<li>
    						<span class="count">138</span>
    						<span class="title">Fun Global Statistic</span>
    						<p>Lorem ipsum dolor sit amet sic non ummy sed lacus.</p>
    					</li>
    				</ul>
    			</div><!-- end global-spark -->
			
			
    			<div id="about" class="section">
    			    <div class="back-to-top">
                        <div class="left-line"></div>
                        <div class="copy">
                            <div class="arrow"></div>
                            <a href="#masthead">back to top</a>
                            <div class="arrow"></div>
                        </div>
                        <div class="right-line"></div>
    			    </div>
    			    <div class="clearfix"></div>
    				<div class="column left-column">
    					<h3>
    						About us
    					</h3>
    				</div>
    				<div class="column wide-column">
                        <p>
                            <span class="title">The Firefox Mobile browser is created by Mozilla</span>, a non-profit organization whose mission is to promote openness, innovation and opportunity on the Web.
                        </p>
                        <a href="#" class="button">More About Mozilla</a>
    				</div>
    			</div><!-- end about -->
	
	    		<div id="footer">
        			<a href="#" class="first">Privacy Policy</a>|
        			<a href="#">Legal Notices</a>|
        			<a href="#">Report Trademark Abuse</a>
        			<p id="license">
        			 Except where otherwise noted, content of this site is licensed under the<br/>
        			 Creative Commons Attribution Share-Alike License v3.0 or any later version.
        			</p>
        		</div>
	
            </div> <!-- end wrapper -->
		</div><!-- end container -->

    	<div id="popup">
            <div id="change-email">
                <h3>Change Email Address</h3>
                  <p class="legend">Please enter the following information</p>
                  <hr>
                  <form method="post" accept-charset="utf-8">
                    <fieldset class="section">
                        <div class="input-wrapper">
                            <input tabindex="1" type="email" name="current-email" value="" placeholder="Current email address" required>
                        </div>
                        <div class="input-wrapper">
                            <input tabindex="2" type="email" name="new-email" value="" placeholder="New email address" required>
                        </div>
                        <div class="input-wrapper">
                            <input tabindex="3" type="email" name="confirm-new-email" value="" placeholder="Confirm new email address" required>
                        </div>
                    </fieldset>
                    <div class="buttons-wrapper">
                        <a class="button left-button">Cancel</a>
                        <button tabindex="4" class="right-button" type="submit">Change</button>
                    </div>
                </form>
            </div>
            <div id="change-password">
                <h3>Change Password</h3>
                  <p class="legend">Please enter the following information</p>
                  <hr>
                  <form method="post" accept-charset="utf-8">
                    <fieldset class="section">
                        <div class="input-wrapper">
                            <input tabindex="1" type="text" name="current-password" value="" placeholder="Current password" required>
                        </div>
                        <div class="input-wrapper">
                            <input tabindex="2" type="text" name="new-password" value="" placeholder="New password" required>
                        </div>
                        <div class="input-wrapper">
                            <input tabindex="3" type="text" name="confirm-new-password" value="" placeholder="Confirm new password" required>
                        </div>
                    </fieldset>
                    <div class="buttons-wrapper">
                        <a class="button left-button">Cancel</a>
                        <button tabindex="4" class="right-button" type="submit">Change</button>
                    </div>
                </form>
            </div>
            <div id="delete-account">
                <h3>Delete Account</h3>
                <p class="legend">
                    You're about to permanently delete your Spark account. 
                    To proceed, please enter your password below.
                </p>
                <hr>
                <form method="post" accept-charset="utf-8">
                    <fieldset class="section">
                        <div class="input-wrapper">
                            <input tabindex="1" type="email" name="email" value="" placeholder="Password">
                        </div>
                    </fieldset>
                    <hr>
                    <div class="buttons-wrapper">
                        <a class="button left-button">Cancel</a>
                        <button ontouchstart="" tabindex="2" class="right-button" type="submit">Delete account</button>
                    </div>
                </form>
            </div>
            <div id="your-account">
                <h3>Your Account</h3>
                <div id="account-details" class="sans">
                    <span>Logged in as: <span>Foxybarbarian</span></span>
                    <span>Email Address: <span>name@gmail.com</span></span>
                    <span>Joined Spark: <span>December 31, 2011</span></span>
                </div>
                <hr>
                <a href="#" class="button change-password">Change password</a>
                <a href="#" class="button change-email">Change email address</a>
                <a href="#" class="button delete-account">Delete your account</a>
                <a href="#" class="button grey close">Close</a>
            </div>

		</div>
		<div id="mask"></div>
	</div> <!-- end wrapper -->

<!-- Scripts go here -->	
	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/jquery-ui-1.8.9.custom.min.js" type="text/javascript"></script>
	<script src="js/ui.js" type="text/javascript"></script>
	
	<script type="text/javascript">
	$(function() {
	   var $popups = $('div.badge-popup');
	   
	   // Show the badge popup when a badge is clicked and hides all others
	   $('div.badge-icon').click(function() {
           // alert($(this).children().length);
	      $(this).parent().siblings().children('div.badge-popup').hide();
          $(this).siblings('div.badge-popup').fadeToggle(200);
	   });
	   
	   // Displays the level details
	   $('div.level:not(.locked)').click(function() {
          $(this).parent().toggleClass('open');
          $(this).next('ul').slideToggle('fast');
	   });
	   
	});
	</script>
    
</body>
</html>
