{% extends "desktop/base.html" %}
{# L10n: User page title. This page gives details about the Spark of a specific user. #}
{% set title = _("{username}'s Spark")|f(username=username) %}
{% set body_id = 'personal' %}
{% set body_class = 'logged-in' if logged_in else 'logged-out' %}

{% if logged_in %}
{% set scripts = ('desktop', 'raphael', 'user-logged-in') %}
{% else %}
{% set scripts = ('desktop', 'raphael', 'user-logged-out') %}
{% endif %}

{% block content %}
	    <div id="container">
	        <div id="wrapper">
        	    <div id="masthead">
            		    <a href="http://www.mozilla.com/" id="visit-mozilla"></a>
            		    {% if logged_in %}
            		    <div class="user-info">
            		    {% include "desktop/includes/hello.html" %}
            		    </div>
                        {% else %}
                        <span id="have-account">{{ _('Already have a spark?') }} <a class="popup-trigger">{{ _('Sign in >') }}</a></span>
                        {% endif %}
            			<div id="logo">
        			        <a href="{{ url('desktop.home') }}">
            				<img src="{{ MEDIA_URL }}img/lockup.png" alt="{{ _('Mozilla Firefox') }}">
            				</a>
            			</div>
            			{% include "desktop/menus/user.html" %}
        		</div> <!-- end masthead -->

                <div id="main-info">
            			<h1>
            				{{ _('Spark') }} <span>{{ _('powered by Firefox for mobile') }}</span>
            			</h1>
            			<div id="user-info">
            			    {{ title }}
            			</div>
            			{# L10n: This is an incentive for new users to remember the username of the person who shared their Spark with them. #}
            			<span id="remember">{{ _('Remember <span>{username}</span> when you get Firefox for mobile and boost your Spark.')|fe(username=username) }}</span>
        		</div>	 <!-- end main-info -->

                {% if not logged_in %}
    			{% include 'desktop/sections/getfirefox.html' %}
    			{% endif %}
    			{% include 'desktop/sections/yourspark.html' %}
                {% include 'desktop/sections/yourbadges.html' %}
                {% include 'desktop/sections/globalspark.html' %}
    			{% include 'desktop/sections/about.html' %}
    			
    			{% include 'desktop/includes/footer.html' %}
	
            </div> <!-- end wrapper -->
		</div><!-- end container -->

        <div id="tooltip">
            <div id="tooltip-arrow"></div>
            <span></span>
        </div>

        {% include 'desktop/popups/logged-out.html' %}

		<div id="mask"></div>
{% endblock %}

{% block script %}

<script>
$(document).ready(function() {

    {% include 'desktop/includes/dashboard-script.html' %}
    
    
    $('#option-01 a').click(function() {
        $.ajax({
            type: 'GET',
            url: '{{ url('sharing.download_from_market_desktop')}}',
            context: document.body,
            success: function(data) {
                window.location=data.next;
          }
        });
        return false;
    });
});
</script>
{% endblock %}