{% extends "desktop/base.html" %}
{% set title = _('Global Visualizer') %}
{% set body_id = 'visualizer' %}
{% set scripts = ('jquery-ui', 'desktop', 'visualization') %}
{% set stylesheets = ('visualization',) %}
{% set user_shares = _("{username}'s shares")|f(username='FoxyBarbarian') %}
{% set everyone = _("Show everyone's shares") %}

{% block content %}
	<div id="wrapper">
		<div id="masthead">
			<h1>
				{{ _('Spark Global Visualizer') }}<br>
				<span>{{ _('powered by Firefox for mobile') }}</span>
			</h1>
			<ul id="main-menu">
				<li>{{ _('Show your shares') }}
					<span><a id="sign-in" href="#">{{ _('Sign in first >') }}</a></span>
				</li>
				{# L10n: Action verb placed next to a dropdown list of cities, allowing to filter the visualization on a specific city. #}
				<li>{{ _('Focus on location') }}
					<span>
                        <form action="">
                            <select id="cities-list" name="cities">
                                <option value="Everywhere">{{ _('Everywhere') }}</option>
                                <option value="Paris">Paris</option>
                                <option value="Berlin">Berlin</option>
                                <option value="London">London</option>

                                <option value="Tokyo">Tokyo</option>
                            </select>
                        </form>
					    <!-- <input type="text" name="cities" id="cities-list" placeholder="Everywhere" list="cities-list">
                           <datalist id="cities-list">
                                  <option value="Paris"></option>
                                  <option value="Berlin"></option>
                                  <option value="San Fransisco"></option>
                                  <option value="New York"></option>
                                  <option value="Tokyo"></option>
                                  <option value="London"></option>
                           </datalist> -->
					</span>
				</li>
			</ul>
		</div> <!-- end masthead -->

	    <div id="timelapse">
	       <div id="dates">
	           <span id="start-date">03.01.11 00:00:00</span>
	           <span id="current-date">03.14.11 07:14:03</span>
	       </div>
	       <div id="time-wrapper">
               <span id="current-time">03.05.11 10:27:44</span>
	       </div>
	       <div id="play-pause">
	           {# L10n: Action verb on a button to start playing the global visualization. #}
    	       <span id="play">{{ _('Play time-lapse') }}</span>
	           {# L10n: Action verb on a button to pause the global visualization. #}
    	       <span id="pause">{{ _('Pause time-lapse') }}</span>
	       </div>
	    </div>
	    
		<div id="content">
		    <div id="loading"></div>
        </div>
        <div id="cities">
            <img id="cities" src="img/cities.svg" alt="">
        </div>
        <!-- <div id="tooltip">
           <div id="tooltip-arrow"></div>
        </div> -->
	    
		<div id="zoom-wrapper">
		    <div id="zoom-out" class="off"></div>
		  	<div id="zoom"></div>
		    <div id="zoom-in"></div>
		</div>
		
		<img src="{{ MEDIA_URL }}img/spinner.gif" class="preload">
		
	</div> <!-- end wrapper -->
{% endblock %}
