{% extends "desktop/base.html" %}
{% set title = _('Global Visualizer') %}
{% set body_id = 'visualizer' %}
{% set scripts = ('jquery-ui', 'desktop', 'raphael', 'visualization') %}
{% set stylesheets = ('visualization',) %}
{% set user_shares = _("{username}'s shares")|f(username=username) %}

{% block content %}
	<div id="wrapper">
		<div id="masthead">
			<h1>
				{{ _('Spark Global Visualizer') }}<br>
				<span>{{ _('powered by Firefox for mobile') }}</span>
			</h1>
			<ul id="main-menu">
			    {% if logged_in %}
			    <li class="logged-in">
			        <a id="show-your-shares">{{ _('Show your shares') }}</a>
			        <a class="hidden" id="show-everyone">{{ _("Show everyone's shares") }}</a>
			    {% else %}
			    <li class="logged-out">{{ _('Show your shares') }}
					<span><a id="sign-in-first" class="popup-trigger">{{ _('Sign in first >') }}</a></span>
			    {% endif %}
			    </li>
				{# L10n: Action verb placed next to a dropdown list of cities, allowing to filter the visualization on a specific city. #}
				<li>{{ _('Focus on location') }}
                    <form id="dropdown">
                        <select id="cities-list" name="cities">
                            <option value="-1">{{ _('Everywhere') }}</option>
                            {% for position, city in cities %}
                            <option value="{{ position }}">{{ city }}</option>
                            {% endfor %}
                        </select>
                    </form>
				</li>
			</ul>
		</div> <!-- end masthead -->

	    <div id="timelapse" class="">
	       <div id="dates" class="">
	           <span id="start-date">--:--:-- --:--:--</span>
	           <span id="current-date">--:--:-- --:--:--</span>
	       </div>
	       <div id="time-wrapper">
               <span id="current-time"></span>
	       </div>
	       <div id="play-pause">
	           {# L10n: Action verb on a button to start playing the global visualization. #}
    	       <span id="play">{{ _('Play time-lapse') }}</span>
	           {# L10n: Action verb on a button to pause the global visualization. #}
    	       <span id="pause">{{ _('Pause time-lapse') }}</span>
	       </div>
	    </div>
	    
		<div id="content">
            <div id="visualization">
                {% set username = request.user.username %}
    		    <span id="your-shares-info">{{ username }}'s shares</span>
    		    <span id="focus-info"></span>
            </div>
        </div>
        <div id="tooltip">
           <div id="tooltip-arrow"></div>
           <span></span>
        </div>
	    
		<div id="zoom-wrapper">
		    <div id="zoom-out" class="off"></div>
		  	<div id="zoom"></div>
		    <div id="zoom-in"></div>
		</div>
		
		{% include 'desktop/popups/logged-out.html' %}
    	<div id="mask"></div>
		
	</div> <!-- end wrapper -->
{% endblock %}

{% block script %}
<script>
var cities = {{ citylist|safe }};

var globalHistory = {{ share_history }};
var globalFinalShares = {{ final_history }};
{% if logged_in %}
var userHistory = {{ user_history }};
{% endif %}

var shareHistory = globalHistory;
var finalShares = globalFinalShares;

$(document).ready(function() {
    enableRaphaelGroups();
    
    initState();
    initCityList();
    initShapes();
    initUI();

    drawFinalState();
});
</script>
{% endblock %}
